@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Head {
  display: flex;
  flex-direction: column-reverse;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  .Tags {
    height: calc(100vh - 54px);
    overflow-y: scroll;
    margin-left: 16px;
  }

  .Notice {
    display: flex;
    align-items: center;
    margin: 20px 16px 32px 16px;
  }

  .NoTags {
    margin: 32px;
  }
}
