@import "~@zesty-io/core/colors.less";
.RedirectsTableRow {
  align-items: center;
  background-color: @white;
  display: flex;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
  }

  &:hover,
  &:focus,
  &:active,
  &:nth-of-type(odd):hover,
  &:nth-of-type(odd):focus,
  &:nth-of-type(odd):active {
    background-color: lighten(@zesty-field-blue, 10%);
  }

  .RedirectsTableRowCell {
    padding: 16px;
    word-break: break-word;

    .internalLink {
      font-size: 1em;
      color: @zesty-blue;
    }
    .removeBtn {
      margin-left: auto;
      align-items: center;
    }
  }
  .code {
    flex-basis: 115px;
  }
}
