@import "~@zesty-io/core/colors.less";
.RedirectsTableRow {
  align-items: center;
  background-color: @white;
  display: flex;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
  }

  &:hover,
  &:focus,
  &:active,
  &:nth-of-type(odd):hover,
  &:nth-of-type(odd):focus,
  &:nth-of-type(odd):active {
    background-color: lighten(@zesty-field-blue, 10%);
  }

  .RedirectsTableRowCell {
    padding: 16px;
    .internalLink {
      font-size: 1em;
    }
    .removeBtn {
      // line-height: initial;
      align-items: center;
    }
  }
  .code {
    padding: 0.6rem 3rem;
  }
}
