@import "shell/legacy-styles/colors.less";
@import "shell/legacy-styles/typography.less";

.customDate label {
  color: @zesty-light-blue;
}

.customDate + .customDate {
  margin-top: 8px;
}

.customDateWrapper {
  margin-top: 8px;
}
