@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.customDate label {
  color: @zesty-light-blue;
}

.customDate + .customDate {
  margin-top: 8px;
}

.customDateWrapper {
  margin-top: 8px;
}
