@import "~@zesty-io/core/colors.less";
.RedirectImportTable {
  .Actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    .addAll {
      margin-right: 1rem;
    }
  }
  .Header {
    display: flex;
    background: @zesty-field-blue;
    border-bottom: 1px solid #b8c8e2;
    z-index: 1;
    align-items: baseline;
    padding-bottom: 0.5rem;

    .Cell {
      cursor: pointer;
      font-weight: 900;
      padding: 0 1rem;
    }
  }
}
