@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.RedirectImportTable {
  .Actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    // .addAll {
    //   margin-right: 16px;
    // }
    .RedirectButtons {
      display: flex;
    }
  }
  .Header {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 100px 344px minmax(200px, 1fr);
    z-index: 1;
    align-items: baseline;
    padding: 0 16px 16px 16px;
    gap: 0 36px;

    .Cell {
      cursor: pointer;
      font-weight: 900;
    }
  }
  .TableBody {
    border: 1px solid @zesty-light-blue;
    border-radius: 4px;
  }
}
