@import "shell/components/legacy/colors.less";
@import "shell/components/legacy/typography.less";
.Completed {
  height: calc(100vh - 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
