@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.Start {
  height: calc(100vh - 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Create {
    margin-top: 32px;
  }
}
