@import "~@zesty-io/core/colors.less";

.DefaultSettings {
  padding: 8px 20px;
  .Warn {
    display: flex;
    align-items: baseline;
    background-color: @zesty-highlight;
    padding: 8px;
    .Icon {
      margin: 0 8px 0 0;
    }
    p {
      flex: 1;
    }
  }
  .Description {
    line-height: 24px;
  }

  .Setting {
    margin: 8px 0;

    label {
      margin: 4px 0;
    }
  }

  .FieldSetting {
    display: block;
    p {
      font-size: 16px;
    }
  }

  .Columns {
    display: flex;
    .Column {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      margin: 0 32px 0 0;
    }
    .Column:last-child {
      margin-right: 0;
    }
  }
}
