.WYSIWYGFieldType {
  min-height: 250px;
}
.DefaultOpt {
  background: #b5becc;
  color: #585f6c !important;
}
.FieldTypeOneToOne,
.FieldTypeOneToMany {
  .relatedItemLink {
    text-shadow: none;
  }
}

// Content Media Selected Modal
.MediaAppModal {
  width: 90%;
  margin: 1.5% auto;
  padding: 0;
  max-width: calc(100vw - 20vw - 60px);

  @media only screen and (min-width: 2000px) {
    max-width: calc(100vw - 20vw - 170px);
  }
  & > button {
    z-index: 1;
    background-color: black;
  }
  // Hide Tutorial in media selected view
  button[aria-label="Tutorial"] {
    display: none;
  }
  // Prevent user from deleting selected images
  button[aria-label="Delete"] {
    display: none;
  }
  // Prevent "X" close btn from overlapping Edit btn
  button[aria-label="Edit"] {
    margin-right: 28px !important;
  }
}
