@import "~@zesty-io/core/colors.less";

.WYSIWYGFieldType {
  min-height: 250px;
}
.DefaultOpt {
  background: @zesty-field-blue;
  color: @zesty-grey !important;
}
.FieldTypeOneToOne,
.FieldTypeOneToMany {
  .relatedItemLink {
    text-shadow: none;
  }
}
.MainLabel {
  font-weight: bold;
}
.SubLabel {
  color: @zesty-gray;
}
.ResolvedOption {
  display: flex;
  .Language {
    margin-left: auto;
  }
}
