.WorkflowRequest {
  margin: 0;
  .ScrollContainer {
    padding: 8px 0;
    margin: 8px 0;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
  }
  .Checkboxes {
    cursor: pointer;
    input[type="checkbox"] {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .TextArea {
    min-width: auto;
    width: calc(100% - 20px);
  }
  .Button {
    margin-right: 8px;
  }
}
