@import "~@zesty-io/core/typography.less";

.WorkflowRequest {
  ul {
    padding: 0;
    margin-bottom: 16px;
    list-style: none;
    span {
      padding: 4px;
      font-size: 12px;
    }
  }

  .TextArea {
    min-width: auto;
    width: calc(100% - 20px);
  }
}
