@import "~@zesty-io/core/typography.less";

.WorkflowRequest {
  ul {
    padding: 0;
    margin-bottom: 16px;
  }

  .Checkboxes {
    margin: 8px 0;
    list-style: none;

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    input[type="checkbox"] {
      margin-right: 8px;
    }
  }

  .TextArea {
    min-width: auto;
    width: calc(100% - 20px);
  }
}
