@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.Start {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
