@import "../../styles/colors.less";

.GlobalTopbar {
  background-color: @globalMenuBkgColor;
  display: flex;
  min-height: 47px;
  padding: 6px 16px 6px 8px;

  .InstanceName {
    font-size: 16px;
  }

  .QuickLinks {
    flex: 1;
    overflow-x: scroll;
    ol {
      display: flex;
      li {
        list-style: none;
        a {
          padding: 8px 16px;
        }

        .active {
        }
      }
    }
    .breadcrumbs {
      display: flex;
    }
  }
  .actions {
    display: flex;
    // max-width: 150px;
  }
}

@media (max-width: 1400px) {
  .GlobalTopbar {
    min-height: 33px;
  }
}
