@import "~@zesty-io/core/colors.less";

.EditorActions {
  flex: 1;
  display: flex;
  padding: 0 4px;
  justify-content: flex-end;

  button {
    margin: 0 4px;
  }
  .HideSmall {
    display: none;
    @media only screen and (min-width: 1280px) {
      display: block;
    }
  }
}
