@import "~@zesty-io/core/colors.less";

.AccountInfo {
  .Card {
    min-height: 141px;
  }
  .CardContent {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;

    text-align: left;
  }
  .Links {
    display: flex;
    flex-direction: column;
    & > * {
      margin: 4px 0;
    }
  }
  mark {
    background-color: @zesty-light-blue;
  }
  img {
    border-radius: 4px;
  }
}
