@import "~@zesty-io/core/colors.less";

.AccountInfo {
  .CardContent {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    min-height: 240px;
  }
  .Links {
    display: flex;
    flex-direction: column;
    & > * {
      margin: 4px 0;
    }
  }
  mark {
    background-color: @zesty-light-blue;
  }
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
