@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.AccountInfo {
  display: flex;
  flex: 1;

  .Card {
    flex: 1;
  }

  .CardContent {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;

    text-align: left;
  }
  .UploadImg {
    position: relative;
    font-size: 57px;
    transition: all 0.3s ease;
    &:hover {
      &::after {
        content: "Upload Image in Head Tags ";
        position: absolute;
        bottom: -12px;
        left: 0;
        z-index: 2;
        font-size: 10px;
        width: max-content;
      }
    }
  }
  .Links {
    display: flex;
    flex-direction: column;
    & > * {
      margin: 4px 0;
    }
  }
  mark {
    background-color: @zesty-light-blue;
  }
  img {
    border-radius: 4px;
  }
}
