@import "~@zesty-io/core/colors.less";

.DuoMode {
  display: grid;
  grid-template-columns: 45fr 55fr;

  &.DuoModeOff {
    grid-template-columns: 1fr;
  }

  .Fields {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;

    @media only screen and (min-width: 2000px) {
      padding: 16px 128px 16px 128px;
    }

    //Hide Scrollbar
    overflow-y: scroll;
    scrollbar-width: none; /*  FireFox */
    -ms-overflow-style: none; /*  Edge */
    ::-webkit-scrollbar {
      display: none;
    }

    //Scroll Calc (GlobalTopbar - Content Header - padding)
    height: calc(100vh - 54px - 73px - 32px);

    .Field {
      padding: 12px 0;
    }
    .Field:first-child {
      padding: 0 0 8px;
    }
  }

  .NoFields {
    margin: 100px 0;
    text-align: center;
    .Display {
      font-size: 32px;
      line-height: 42px;
      font-weight: 300;
      letter-spacing: 0.32px;
    }
    .SubHead {
      font-size: 28px;
      line-height: 42px;
      font-weight: 300;
      letter-spacing: 0.32px;
    }
  }
}
