@import "shell/components/legacy/colors.less";

.Fields {
  display: flex;
  flex-direction: column;
  width: 100%;

  scrollbar-width: none; /*  FireFox */
  -ms-overflow-style: none; /*  Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  //Scroll Calc (GlobalTopbar - Content Header - padding)

  .Field {
    padding: 12px 0;
  }
  .Field:first-child {
    padding: 0 0 8px;
  }
}
