@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Header {
  box-sizing: border-box;
  height: 101px;
  display: flex;

  padding: 16px 32px;
  @media only screen and (min-width: 2000px) {
    padding: 16px 48px;
  }

  z-index: 120;
  position: sticky;
  top: 0;
  background-color: @white;
  border: 1px solid @bright-gray;
  border-width: 0 0 1px 0;

  .Split {
    align-items: center;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .Left {
      display: flex;
      align-items: center;

      .ViewLinks {
        display: flex;
        gap: 8px;
        margin-left: 8px;
      }
    }
    .Right {
    }
  }

  .Links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    margin-right: 8px;
  }
  .Actions {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .I18N {
    min-width: 100px;
    z-index: 30;
  }
}
