@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Header {
  padding: 16px 32px;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #f2f7fc;
  border-bottom: 1px solid #e8e8e8;

  .Split {
    align-items: center;
    display: grid;
    grid-auto-columns: 1fr auto;
    grid-auto-flow: row;
    grid-gap: 8px;

    @media screen and (min-width: 2000px) {
      grid-auto-flow: column;
    }

    .Left {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    .Right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .Links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    margin-right: 8px;
  }
  .Actions {
    display: flex;
  }

  .I18N {
    margin-right: 8px;
    min-width: 100px;
    z-index: 30;
  }
}
