@import "~@zesty-io/core/colors.less";

@light-nav-color: lighten(@nav-border-color, 6%);
.item {
  display: flex;
  align-items: center;
  user-select: none;

  &:hover {
    background-color: @light-nav-color;

    .hide {
      visibility: visible;
    }
  }
  svg {
    font-size: 1rem;
  }
  a,
  .directory {
    text-decoration: none;
    color: @zesty-light-blue;
    flex: 1;
    padding: 8px 16px;
    display: flex;
    i,
    svg {
      padding: 0;
      margin-right: 8px;
      opacity: 0.6;
      align-self: center;
    }
  }
  &.highlighted {
    background-color: @light-nav-color;
  }
}

.collapse {
  color: @zesty-gray;
  cursor: pointer;
  padding: 10px;

  &:hover,
  &:active,
  &:focus {
    color: @zesty-white;
  }
}

.hide {
  visibility: hidden;
}

.actions {
  padding: 8px;
}
.action {
  color: @zesty-gray;

  &:hover,
  &:active,
  &:focus {
    color: @zesty-white;
  }
}

.depth1 {
  background-color: #1a202c;
  border-left: 2px solid #1a202c;
}
.depth2 {
  background-color: lighten(#1a202c, 5%);
  border-left: 2px solid lighten(#1a202c, 5%);
}
.depth3 {
  background-color: lighten(#1a202c, 10%);
  border-left: 2px solid lighten(#1a202c, 10%);
}
.depth4 {
  background-color: lighten(#1a202c, 15%);
  border-left: 2px solid lighten(#1a202c, 15%);
}

.selected {
  border-left: 2px solid @zesty-orange;

  a {
    color: @white;

    svg {
      opacity: 1;
    }
  }
}
