@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Drawer {
  // border: 1px solid #c3cddf;
  width: 100vw;
  background: @appBkgColor;

  //Hide Scrollbar
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &.DrawerHover {
    width: 25vw;
    position: absolute;

    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 15px rgb(27 32 44 / 50%);

    // //Scroll Calc (GlobalTopbar - Content Header - padding)
    height: calc(100vh - 54px - 63px - 50px);

    overflow: auto;
    padding-bottom: 50px;
  }

  // @media screen and (min-width: 1680px) {
  //   position: relative;
  //   height: initial;
  //   box-shadow: none;
  //   height: calc(100vh - 54px - 73px - 16px);
  //   margin-left: 16px;
  // }
}
