@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

/* Scroll Calc (GlobalTopbar - Content Header - button - padding) */
@height: calc(100vh - 54px - 73px - 42px);

.Drawer {
  display: flex;
  justify-content: center;
  background: @white;
  border: 1px solid @bright-gray;
  border-width: 0 1px 1px 1px;
  height: @height;
  transition: 1s;

  //Hide Scrollbar
  overflow-y: scroll;
  overflow: auto;
  scrollbar-width: none; /*  FireFox */
  -ms-overflow-style: none; /*  Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  .QuickBar {
    align-items: center;
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
      margin: 16px 0;
    }
  }

  .Show {
    position: absolute;
  }

  .Hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .DrawerDefault {
    transition: width 350ms ease;
    width: 60px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .DrawerHover,
  .DrawerAction {
    background: @white;
    height: @height;
    overflow: auto;

    //Hide Scrollbar
    scrollbar-width: none; /*  FireFox */
    -ms-overflow-style: none; /*  Edge */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .DrawerHover {
    position: absolute;
    width: 20vw;
    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: -1px 1px 10px 2px fade(@zesty-dark-blue, 50%);
    display: block;
    opacity: 1;
    transition: width 350ms ease;
  }

  .DrawerAction {
    display: block;
    position: initial;
  }
}
