@import "~@zesty-io/core/colors.less";
.GlobalSidebar {
  display: flex;
  background-color: @globalMenuBkgColor;
  font-size: 14px;

  .topMenu {
    grid-auto-rows: 46px min-content 1fr max-content;
    padding: 8px 10px;

    display: grid;
    align-items: flex-start;
    grid-auto-flow: row;
  }
  .Collapse {
    color: @zesty-field-blue;
    letter-spacing: 1px;
    padding: 8px;
    svg {
      font-size: 16px;
      margin-right: 8px;
    }
    &:hover {
      cursor: pointer;
      color: @zesty-orange;
    }
  }
  .subMenu {
    position: absolute;
    top: 0;
    right: 0;

    .appMenu {
      min-width: 20rem;
      position: absolute;
      top: 0;
      width: 15rem;
    }
    .hide {
      margin-left: -20rem;
      transition: margin-left 0.5s ease;
    }
    .show {
      margin-left: 0;
      transition: margin-left 0.5s ease;
    }
  }
}
