@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.GlobalSidebar {
  // display: flex;
  font-size: 14px;
  // overflow: hidden;
  position: relative;
  box-sizing: border-box;

  .subMenu {
    position: absolute;
    top: 0;
    right: 0;

    .appMenu {
      min-width: 20rem;
      position: absolute;
      top: 0;
      width: 15rem;
    }
    .hide {
      margin-left: -20rem;
      transition: margin-left 0.5s ease;
    }
    .show {
      margin-left: 0;
      transition: margin-left 0.5s ease;
    }
  }
}
