@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Meta {
  display: flex;
  flex-direction: row;
  // margin: 32px;

  .Settings {
    flex: 2;
    margin-right: 32px;

    &.DataSettings {
      margin-right: 0;
    }

    article {
      margin: 16px 0;
    }
  }

  .GoogleListing {
    flex: 1;
    margin: 16px 0;

    .SearchResult {
      border-radius: 2px;
      background: white;
      border: 1px @zesty-light-gray solid;
      padding: 16px;

      .GoogleTitle {
        font-family: Roboto, "Gibson", arial, sans-serif;
        color: #1a0dab; // sampled from google
        word-wrap: break-word;
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 400;
      }
      .GoogleLink {
        color: #006621; // sampled from google
        display: block;
        font-family: Roboto, arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        line-height: 16.8px;
        padding: 2px 0 3px 0;

        a {
          text-decoration: none;
          color: #006621; // sampled from google
        }

        span.Icon {
          margin-left: 5px;
        }
      }
      .GoogleDesc {
        word-wrap: break-word;
        color: rgb(84, 84, 84);
        font-family: Roboto, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        height: auto;
        line-height: 18.2px;
      }
    }
  }
}
