.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}
.Load {
  display: inline-block;
  border-color: transparent;
  border-top-color: #f17829;
  animation-duration: 1.2s;
  &::before {
    display: inline-block;
    border-color: transparent;
    border-top-color: #f17829;
    animation-duration: 1.2s;
    transform: rotate(120deg);
  }
  &::after {
    display: inline-block;
    border-color: transparent;
    border-top-color: #f17829;
    animation-duration: 1.2s;
    transform: rotate(240deg);
  }
}

.Loading {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid #34495e;
  border-radius: 100%;
  animation: spin 0.75s infinite linear;
  &:before,
  &::after {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
  }
}
