.Modal {
  max-width: 65%;
  margin: 8px auto;
  padding: 16px;

  @media only screen and (min-width: 2000px) {
    max-width: 50%;
    margin: 5% auto 0;
    padding: 32px;
  }

  .ModalContent {
    display: grid;
    grid-template-columns: minmax(450px, 1fr) minmax(350px, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px;

    .ModalLabels {
      padding-bottom: 8px;
    }

    .DescriptionList {
      & > * {
        padding: 4px 0;
      }
      dt {
        font-weight: bold;
      }
      dd {
        color: #667587;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .Checkered {
      height: auto;
      background: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.0980392) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.0980392) 75%,
          rgba(0, 0, 0, 0.0980392) 0
        ),
        linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.0980392) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.0980392) 75%,
          rgba(0, 0, 0, 0.0980392) 0
        ),
        white;
      background-repeat: repeat, repeat;
      background-position: 0px 0, 5px 5px;
      background-size: 10px 10px, 10px 10px;
      position: relative;
      min-height: 100%;
      text-align: center;

      .OriginalButton {
        margin-top: 8px;
      }

      .PDF {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        color: black;
      }
    }

    .CopyLabel {
      display: flex;
      border-radius: 3px;
      border: solid 1px rgba(26, 32, 44, 0.12);
      margin-bottom: 8px;
    }
  }

  .ModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
