.Modal {
  .CardContentModal {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 16px;
    justify-content: center;

    .ModalLabels {
      padding-bottom: 8px;
    }
    .ModalImage {
      width: 100%;
    }

    .Clippy {
      width: 16px;
      height: 16px;
    }
  }

  .CardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
