.LoadSelected {
  position: relative;
  padding: 16px;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid #c3cddf;
    left: 9px;
    bottom: 64px;
    transform: rotate(90deg);
  }
}

.MediaSelected {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  background-color: #404759;

  .CardContent {
    position: relative;
  }
  .Check {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: #74be24;
    color: #efefef;
    width: 24px;
    height: 24px;
    margin: 1px;
  }
  &.Selected {
    background: #74be24;
  }
}

.CardTop {
  width: 100px;
  flex-shrink: 0;

  .CardContent {
    padding: 8px;
  }
  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    position: relative;
  }

  .Checkered {
    height: auto;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      white;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    transform-origin: 0 0 0;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-size: 10px 10px, 10px 10px;
    transition: none;
    transform: scaleX(1) scaleY(1) scaleZ(1);
  }
}
