@import "~@zesty-io/core/colors.less";

//Spinner for Loading
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

  // Checkbox Selected
  &.selected {
    box-shadow: 0px 0px 6px #15181d;

    .CardContent .Check {
      background: rgba(0, 0, 0, 0.35);
      opacity: 1;
    }
  }
  // Grid Image
  img {
    width: 100%;
    height: 167px;
    min-height: 167px;
    object-fit: contain;
    display: block;
  }

  &.CardTop {
    width: 100px;
    flex-shrink: 0;

    // Preview Strip Image
    img {
      width: 100%;
      height: 100px;
      object-fit: contain;
      display: block;
    }
  }

  .CardContent {
    position: relative;
    &.CardContentTop {
      padding: 8px;
      display: flex;
      align-items: center;
    }

    //Loading Spinner
    .Load {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 167px;
      height: 167px;
      border: 2px solid #34495e;
      border-radius: 100%;
      animation: spin 0.75s infinite linear;
      &:before,
      &::after {
        left: -2px;
        top: -2px;
        display: none;
        position: absolute;
        content: "";
        width: inherit;
        height: inherit;
        border: inherit;
        border-radius: inherit;
      }
    }

    .Loading {
      border-color: transparent;
      border-top-color: #f17829;
      animation-duration: 1.2s;
      &::before {
        display: inline-block;
        border-color: transparent;
        border-top-color: #f17829;
        animation-duration: 1.2s;
        transform: rotate(120deg);
      }
      &::after {
        display: inline-block;
        border-color: transparent;
        border-top-color: #f17829;
        animation-duration: 1.2s;
        transform: rotate(240deg);
      }
    }

    //Checkbox Styles
    .Check {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.15);
      color: black;
      width: 20px;
      height: 20px;
      margin: 1px;
      border: none;
      border-radius: 2px;
      transition: 0.25s ease-in-out;
    }

    // Checkbox Show
    &:hover {
      .Check {
        opacity: 1;
      }
    }
  }
  .CardFooter {
    position: relative;
    padding: 0;
  }
  .ProgressBar {
    position: absolute;
    height: 100%;
    background-color: @zesty-orange;
    opacity: 0.5;
  }
  .FooterButton {
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-family: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Cog {
      background: rgba(0, 0, 0, 0.15);
      font-size: 16px;
      margin-right: 8px;
      padding: 8px;
      transition: all 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.35);
      }
    }
    .Preview {
      overflow: hidden;
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
      padding: 0 0.5rem;
    }
  }
}
