.MediaSelected {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  background-color: #404759;
}

.CardTop {
  width: 100px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .CardContentTop {
    padding: 8px;
  }
}
