@global-top-bar-height: 54px;
@drawer-height: 262px;
@workspace-header-height: 56px;

.Workspace {
  height: calc(100vh - @global-top-bar-height - @workspace-header-height);
  overflow: hidden;
  overflow-y: auto;

  box-shadow: 0 0 15px #0b0d13;
  z-index: 1;
  transition: 0.25s ease-in-out;

  &.hasSelected {
    height: calc(
      100vh - @global-top-bar-height - @workspace-header-height - @drawer-height
    );
  }

  // Main section grid layout
  .WorkspaceGrid {
    //Dynamic /helps center the whole grid
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    display: grid;
    //STATIC
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 16px;
    padding: 16px;
    justify-items: center;
  }
}
