@import "~@zesty-io/core/typography.less";

.WorkspaceHeader {
  display: flex;
  padding: 8px;
  background-color: #404759;
  justify-content: space-between;
  position: relative;

  .WorkspaceLeft,
  .WorkspaceRight {
    display: flex;
    align-items: center;
  }
  .WorkspaceLeft {
    & > *:not(:last-child) {
      margin-right: 8px;
    }
    .GroupTitle {
      color: white;
      padding-left: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
      max-width: 450px;

      // ellipsis OFF
      @media only screen and (min-width: 2000px) {
        max-width: initial;
      }
    }
    h1 {
      font-size: 20px;
      font-weight: 300;
    }
    .GroupCount {
      color: white;
    }
    .PadLeft {
      padding-left: 16px;
    }

    .ModalFooter {
      display: flex;
      justify-content: space-between;
    }
  }
}
