@import "../../views/app/colors.less";

.GlobalMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  margin-right: -7px;

  border-top: 1px solid darken(@globalMenuBkgColor, 5%);
  border-bottom: 1px solid darken(@globalMenuBkgColor, 5%);

  a {
    color: @zesty-field-blue;
    font-size: 1.2em;
    padding: 1rem 0.5rem;
    text-decoration: none;
    letter-spacing: 1px;

    i {
      margin-right: 5px;
      width: 24px;
      text-align: center;
    }
  }
}

@media (max-width: 1300px) {
  .GlobalMenu {
    a {
      text-align: center;
      .title {
        display: none;
      }
    }
  }
}
