@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ReleaseApp {
  main {
    overflow: auto;
  }
  margin: 16px 0 16px 16px;
  @media (min-width: 2000px) {
    margin: 32px;
  }
}
