@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.accountMenu {
  position: absolute;
  width: 350px;
  color: @zesty-dark-blue;
  top: 0;
  right: -399px;
  padding: 24px;
  background: #c7d4ea;
  box-shadow: 1px 1px 19px #171b26;
  border-radius: 0 4px 4px 0;
  text-align: left;
  word-break: break-word;

  &.hide {
    left: -400px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #c3cddf;
    left: -10px;
    top: 23px;
  }

  .user {
    padding: 0;
    h1 {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
        border-radius: 4px;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
    }
  }

  // .subheadline {
  //   word-break: break-word;
  // }

  .Divider {
    margin: 16px 0;
  }

  .Instance {
    img {
      border-radius: 4px;
      margin: 8px 0 0;
      width: 350px;
    }

    .Domains {
      margin: 8px 0;

      // Ensure domains wrap
      // word-break: break-all;

      li {
        margin: 8px 0;
        list-style-type: none;
        a {
          text-shadow: none;
        }
      }
    }
  }

  footer a {
    display: flex;
    margin: 0;
  }
}
