@import "~@zesty-io/core/colors.less";

.googleAuthOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: fade(@zesty-dark-blue, 80%);
  color: white;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px;

  img.googleAnalyticsLogo {
    width: 300px;
    height: auto;
  }

  h2 {
    margin-top: 30px;
    font-size: 36px;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
    color: @zesty-light-grey;
  }
  .generalDescription {
    color: @zesty-light-grey;
    font-size: 12px;
    margin: 0px 30%;
    margin-top: 20px;
  }

  .buttonHolder {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 20px;
  }

  .googleAnaltyicsIntegration {
    border: 1px @zesty-background-blue solid;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    left: 50%;
    position: relative;
    margin-left: -200px;
    background: fade(@zesty-dark-blue, 60%);

    p {
      font-size: 14px;
      padding-bottom: 20px;
      margin-top: 0px;

      color: @zesty-light-grey;

      strong {
        font-weight: bold;
        color: white;
      }
      i {
        color: @zesty-light-grey;
        border-radius: 50px;
        background: @zesty-dark-blue;
        padding: 5px;
        border: 1px @zesty-background-blue solid;
      }
    }
  }
}
