@import "~@zesty-io/core/colors.less";

.Modal {
  max-width: fit-content;
  .Row {
    margin: 8px 0;
  }
  .Notice {
    align-items: center;
  }
  .ModalFooter {
    display: flex;
    .Cancel {
      margin-left: 8px;
    }
  }
}
