@import "~@zesty-io/core/colors.less";

.Modal {
  .Row {
    margin: 8px 0;
  }
  .Warn {
    color: @zesty-orange;
  }

  .ModalFooter {
    display: flex;
    .Close {
      margin-left: 8px;
    }
  }
}
