@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.JSONPreview {
  background-color: #fff;

  margin: 32px auto;
  //Scroll Calc (GlobalTopbar - Content Header - padding )
  height: calc(100vh - 54px - 73px - 64px);
  overflow-y: scroll;
}
