@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.PlanStep {
  display: grid;
  grid-template-columns: 75px 100px 200px minmax(auto, 500px) max-content 75px;

  th {
    text-align: left;
  }
}
