@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.CsvSettings {
  display: grid;
  padding: 8px;
  grid-template-columns: min-content min-content min-content;
  background-color: #5b667d;
  color: #eff5ff;

  .Setting {
    margin: 8px;
    min-width: 250px;
  }
}
