@import "~@zesty-io/core/colors.less";
.TableHeader {
  display: flex;
  z-index: 1;

  .wrap {
    background-color: @zesty-grey;
    color: @zesty-white;
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    min-height: 60px;
    .column {
      display: flex;
      min-width: 250px;
      max-width: 250px;
      padding: 4px 16px;
      flex-direction: column;
      margin-bottom: 8px;
    }
  }

  .Cell {
    display: inline-block;
    min-width: 250px;
    padding: 8px 0;
  }
  .PublishedHeader {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .textareaHeader,
  .textHeader,
  .wysiwyg_basicHeader,
  .wysiwyg_advancedHeader,
  .markdownHeader,
  .article_writerHeader,
  .uuidHeader {
    width: 400px;
  }

  .one_to_oneHeader,
  .one_to_manyHeader,
  .internal_linkHeader,
  .linkHeader {
    width: 300px;
  }

  .sortHeader {
    width: 150px;
  }
  .imagesHeader {
    width: 130px;
  }
  .toggleHeader,
  .yes_noHeader {
    width: 140px;
  }
  .dropdownHeader {
    width: 100px;
  }
}
