@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.auditLog {
  background: @zesty-white;
  border: 1px @zesty-gray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  align-items: center;

  .action {
    align-items: center;
    color: @zesty-tab-blue;
    display: flex;
    padding: 0;

    .type {
      align-self: stretch;
      width: 5px;
    }
    .type1 {
      background: @zesty-green;
    }
    .type2 {
      background: @zesty-yellow;
    }
    .type3 {
      background: @zesty-red;
    }
    .type4 {
      background: @zesty-blue;
    }

    .avatar {
      align-self: flex-start;
      background-color: @zesty-grey;
      max-height: 70px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    color: @zesty-gray;
    h1 {
      font-size: @font-size-label;
      line-height: 28px;
      letter-spacing: 0.32px;
      @media screen and (min-width: 2000px) {
        font-size: initial;
      }
    }
    .meta {
      color: #959db4;
      flex: 1;
      .emailLink {
        color: @zesty-light-gray;
        text-decoration: none;
        &:hover {
          color: @zesty-gray;
          border-bottom: 1px solid @zesty-gray;
        }
      }
    }

    .link {
      color: #333;
      text-decoration: none;
    }
  }
}
