@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.GlobalSearch {
  position: relative;
  flex: 1;

  input {
    width: 100%;
  }
}

.SearchResults {
  position: absolute;
  z-index: 110;
  max-height: 700px;
  min-width: max-content;
  @-moz-document url-prefix() {
    @media only screen and (min-width: 2000px) {
      min-width: 850px;
    }
  }
  list-style: none;
  overflow: auto;
  box-shadow: 1px 1px 18px #0000007a;
  border-radius: 0 4px 4px 4px;
  left: 0px;
  top: 38px;

  .ItemName {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  li {
    cursor: pointer;
    color: @zesty-dark-blue;
    background-color: @appBkgColor;
    border-bottom: 1px solid darken(@appBkgColor, 8%);
    padding: 16px 12px;

    .Lang {
      flex-basis: 80px;
      justify-content: flex-end;
      display: flex;
    }

    &.SelectedRow,
    &:hover {
      background-color: @white;
    }

    &.Actions {
      position: sticky;
      top: 0;
    }

    &.Actions,
    &.Actions:hover,
    &.Actions:focus {
      flex-direction: column;
      @media only screen and (min-width: 2000px) {
        flex-direction: row;
      }

      background-color: @white;
      display: flex;
      .SortBy {
        margin-bottom: 16px;
        button {
          margin-right: 8px;
        }
      }
      .FilterBy {
        display: flex;
        flex-direction: column;
      }
      .SortBy,
      .FilterBy {
        .Title {
          margin-bottom: 4px;
        }
      }
    }

    .ModelIcon {
      margin-right: 8px;
      color: @zesty-grey;
    }
  }

  li:last-child {
    border-bottom: none;
  }
}
