@import "./colors.less";

// Default App Scrollbar styles
&::-webkit-scrollbar {
    background-color: @zesty-field-blue;
    width: 4px;
}
&::-webkit-scrollbar-button {
    background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-track {
    background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-track-piece {
    background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-thumb {
    // background-color: @zesty-tab-color;
    background-color: rgb(153, 168, 195);
}
&::-webkit-scrollbar-corner {
    background-color: @zesty-field-blue;
}
&::-webkit-resizer {
    background-color: @zesty-field-blue;
}

.app {
  background-color: @appBkgColor;
  color: #5B667D;
  display: flex;
  font-family: 'GibsonRegular', Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.GlobalMenu {
  background-color: @globalMenuBkgColor;
  color: @zesty-field-blue;
  max-width: 10rem;
  min-width: 5rem;
  // border-right: 1px solid #000;
  flex-grow: 1;
  // flex-shrink: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  overflow-x: hidden;

  .UserAccount {
    margin: 1rem 0;
    font-size: 3rem;
    position: sticky;
    top: 0;
  }
  .GlobalMenuActions {
    background-color: @globalMenuBkgColor;
    margin: 2rem 0;
    font-size: 2rem;
  }

  menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    margin-right: -7px;

    a {
      color: @zesty-field-blue;
      font-size: 1.2em;
      padding: 1rem 0.5rem;
      text-decoration: none;
      i {
        margin-right: 5px;
        width: 25px;
        text-align: center;
      }
    }
  }

  @media (max-width: 1300px) {
    max-width: 4rem;
    min-width: 3rem;
    .UserAccount {
      font-size: 2rem;
    }
    menu {
      a {
        text-align: center;
        .title {
          display: none;
        }
      }
    }
  }

}
.SecondaryMenu {
  background-color: @secondaryMenuBkgColor;
  min-width: 15rem;
  // border-right: 1px solid #000;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  z-index: 9;
}
.MainView {
  background-color: @mainViewBkgColor;
  max-width: 90rem;
  min-width: 5rem;
  // border-right: 1px solid #000;
  flex: 6;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  z-index: 8;
}
.SecondaryView {
  background-color: @secondaryViewBkgColor;
  max-width: 30rem;
  min-width: 20rem;
  // border-right: 1px solid #000;
  flex: 2;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  z-index: 7;
}
