@import "~@zesty-io/core/typography.less";
@import "~@zesty-io/core/colors.less";

.WorkspaceHeader {
  align-items: center;
  padding: 8px 32px 8px 16px;
  background-color: #404759;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr max-content;
  column-gap: 16px;
  height: 40px;

  .Title {
    color: @zesty-white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    small {
      margin-right: 8px;
    }
  }

  .Actions {
    display: flex;

    button {
      margin-left: 8px;
    }
    button:first-child {
      margin-left: 0px;
    }
  }
}
