@import "~@zesty-io/core/typography.less";
@import "~@zesty-io/core/colors.less";

.Modal {
  max-width: 1150px;
  max-height: calc(calc(100% - 10% - 74px));
  margin: 5% auto 0;

  .ModalContent {
    display: grid;
    grid-template-columns: 600px 500px;
    gap: 16px;
    background-color: @white;

    .Picture {
      height: 600px;
      width: 600px;
      overflow: auto;

      img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-width: 350px;
      }
    }

    .Meta {
      padding: 16px;
    }

    .FieldsContainer {
      label {
        margin-bottom: 16px;
      }
    }

    .DescriptionList {
      display: flex;
      gap: 8px;
      align-items: center;

      & > * {
        padding: 4px 0;
      }
      dt {
        font-weight: bold;
      }
      dd {
        color: @zesty-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .editor {
      margin: 32px 0;

      h3 {
        margin-bottom: 4px;
      }

      .ImageControls {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 8px;

        label {
          margin-right: 4px;
        }

        input {
          max-width: 50px;
        }
      }

      .otfLink {
        word-break: break-all;
        width: 100%;
      }
    }
  }

  .ButtonGroup {
    button {
      margin-left: 16px;
    }
  }

  .InfotipTitle {
    &:hover {
      small {
        width: 500px;
      }
    }
  }

  .InfotipFileName {
    &:hover {
      small {
        width: 315px;
      }
    }
  }
}
