@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
@import "../MediaApp.less";

.Nav {
  background-color: @nav-background-color;
  word-break: break-word;
  min-height: 100%;

  .TopNav {
    padding: 8px;
    display: flex;
    flex-direction: column;

    .SearchForm {
      input {
        flex: 1;
      }
    }
  }

  .NavTitle {
    color: @zesty-light-blue;
    font-size: @font-size-label;
    text-align: left;
    padding: 4px 12px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
  }
}

.HiddenNav {
  opacity: 0.5;
  .NavTitle {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: @zesty-white;
    }
  }
}
.HiddenNavClosed {
  display: none;
}

@global-top-bar-height: 54px;
@media-sidebar-top-nav-height: 106px;
@hidden-nav-height: 26px;
@hidden-nav-full-height: 300px;
@hidden-nav-expanded-height: @hidden-nav-height + @hidden-nav-full-height;

@light-nav-color: lighten(@nav-border-color, 6%);

.MediaNav {
  height: calc(
    100vh - @global-top-bar-height - @media-sidebar-top-nav-height -
      @hidden-nav-height
  );
}
.MediaNav {
  //rv-sticky-tree
  div {
    //rv-sticky-node-list
    div {
      //rv-sticky-parent-node
      div {
        //depth1
        li {
          background-color: #1a202c;
        }
        div {
          //depth2
          li {
            background-color: lighten(#1a202c, 3%);
            border-left-color: lighten(#1a202c, 3%);
          }
          div {
            //depth3
            li {
              background-color: lighten(#1a202c, 6%);
              border-left-color: lighten(#1a202c, 6%);
            }
            div {
              //depth4
              li {
                background-color: lighten(#1a202c, 9%);
                border-left-color: lighten(#1a202c, 9%);
              }
              div {
                //depth5
                li {
                  background-color: lighten(#1a202c, 12%);
                  border-left-color: lighten(#1a202c, 12%);
                }
                div {
                  //depth6
                  li {
                    background-color: lighten(#1a202c, 15%);
                    border-left-color: lighten(#1a202c, 15%);
                  }
                  div {
                    //depth7
                    li {
                      background-color: lighten(#1a202c, 18%);
                      border-left-color: lighten(#1a202c, 18%);
                    }
                    div {
                      //depth8
                      li {
                        background-color: lighten(#1a202c, 21%);
                        border-left-color: lighten(#1a202c, 21%);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.Nav.hiddenOpen {
  .MediaNav {
    height: calc(
      100vh - @global-top-bar-height - @media-sidebar-top-nav-height -
        @hidden-nav-expanded-height
    );
  }
}

.MediaHiddenNav {
  height: @hidden-nav-full-height;
}

.NavRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: @zesty-light-blue;
  background-color: #1a202c;
  border-left: 2px solid #1a202c;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;

  svg {
    margin-right: 4px;
  }
  [data-icon*="caret"] {
    height: 100%;
    font-size: 16px;
    opacity: 0.6;
  }
  [data-icon="eye-slash"] {
    margin-left: 4px;
  }

  .hide,
  .collapse {
    color: @zesty-gray;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: @zesty-white;
    }
  }

  .hide {
    visibility: hidden;
  }

  &:hover {
    background-color: @light-nav-color;
    .hide {
      visibility: visible;
    }
  }

  &.selected {
    border-left: 2px solid @zesty-orange;
    color: @white;

    svg {
      opacity: 1;
    }
  }
}

/* Multiline clamp */
.NavRowText {
  display: -webkit-box;
  max-width: @nav-width;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-right: auto;
  line-height: 1.13;
  letter-spacing: 0.32px;
  font-size: 12px;
  @media only screen and (min-width: 2000px) {
    font-size: 14px;
  }
}
