@import "~@zesty-io/core/typography.less";

.Modal {
  width: 460px;

  .Content {
    p {
      margin: 8px 0;
    }
  }

  .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
