@import "~@zesty-io/core/typography.less";
@import "~@zesty-io/core/colors.less";

.Modal {
  max-width: 65%;

  @media only screen and (min-width: 2000px) {
    margin: 5% auto 0;
    padding: 32px;
  }

  .ModalContent {
    display: grid;
    grid-template-columns: 400px 500px;
    gap: 16px;
    justify-content: center;
    background-color: @white;
    padding: 16px;

    .Picture {
      margin-bottom: 8px;
      img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-width: 350px;
      }
    }

    .InputCopyCombo {
      input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.CopyButton {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .Field input,
    .CopyButton {
      margin-bottom: 16px;
    }

    .otfLink {
      word-break: break-all;
      width: 100%;
    }

    .Delete {
      margin-top: 16px;
    }

    .CopyButton {
      width: 100%;
    }

    .DescriptionList {
      & > * {
        padding: 4px 0;
      }
      dt {
        font-weight: bold;
      }
      dd {
        color: @zesty-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .ImageControls {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 16px;

      label {
        margin-right: 4px;
      }

      input {
        max-width: 50px;
      }
    }
  }

  .ButtonGroup {
    button {
      margin-left: 16px;
    }
  }

  .InfotipTitle {
    &:hover {
      small {
        width: 500px;
      }
    }
  }

  .InfotipFileName {
    &:hover {
      small {
        width: 315px;
      }
    }
  }
}
