@import "~@zesty-io/core/typography.less";
@import "~@zesty-io/core/colors.less";

.Modal {
  max-width: 65%;
  padding: 16px;
  margin: 1% auto 0;

  @media only screen and (min-width: 2000px) {
    margin: 5% auto 0;
    padding: 32px;
  }

  .ModalContent {
    // working modal for small screens
    @media only screen and (max-width: 1280px) {
      display: flex;
    }

    display: grid;
    grid-template-columns: 350px 500px;
    gap: 16px;
    justify-content: center;
    background-color: @white;
    padding: 16px;

    .Picture {
      margin-bottom: 8px;
      img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-width: 350px;
      }
    }

    .Field input {
      margin-bottom: 16px;
    }

    .Delete {
      margin-top: 16px;
    }

    .DescriptionList {
      & > * {
        padding: 4px 0;
      }
      dt {
        font-weight: bold;
      }
      dd {
        color: @zesty-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .CopyLabel {
      display: flex;
      border-radius: 3px;
      border: @selectBorder;
      margin-bottom: 16px;
      border-radius: 0 4px 4px 0;

      input {
        width: 100%;
        padding-left: 8px;
        border: none;
      }
    }
    .CopyButton {
      display: inherit;
      border-radius: 4px 0 0 4px;
    }
  }

  .ButtonGroup {
    button {
      margin-left: 16px;
    }
  }
}
