@import "~@zesty-io/core/colors.less";

.GlobalMenu {
  border-top: 1px solid #212636;
  border-bottom: 1px solid #212636;
  display: grid;
  grid-gap: 12px;
  padding: 8px 0;

  a,
  .Collapse {
    text-align: left;
    color: @zesty-field-blue;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px;
    border-left: 2px solid @globalMenuBkgColor;

    .title {
      display: inline-block;
    }

    svg {
      margin-right: 8px;
    }
  }

  //CLOSED MENU
  // a {

  //   text-align: center;

  //   .title {
  //     display: none;
  //   }
  //   svg {
  //     margin-right: 0;
  //   }
  // }

  .current {
    border-left: 2px solid @zesty-orange;
  }

  .control,
  .build,
  .optimize,
  .settings {
    &:hover {
      color: @zesty-green;
    }
  }
  .control,
  .build,
  .optimize,
  .settings {
    &:active,
    &:focus {
      color: @zesty-orange;
    }
  }
}
