@import "~@zesty-io/core/colors.less";

.DifferActions {
  align-items: center;
  display: flex;
  // margin-left: auto;
  padding: 0 12px;

  .Divider {
    font-size: 18px;
    margin: 0 12px;
  }

  .VersionSelector {
    width: 200px;

    ul {
      min-width: 350px;
      strong {
        font-weight: 900;
      }
      small {
        font-size: 10px;
        color: @zesty-grey;
      }
    }
  }

  button {
    margin: 0 0 0 12px;
  }
}
