@import "~@zesty-io/core/colors.less";

.DifferActions {
  align-items: center;
  display: flex;
  padding: 0 12px 0 100px;

  @media only screen and (min-width: 2000px) {
    padding: 0 12px 0 220px;
  }

  .Divider {
    font-size: 18px;
    margin: 0 12px;
  }

  .VersionSelector {
    width: 200px;

    ul {
      min-width: 350px;
      strong {
        font-weight: 900;
      }
      small {
        font-size: 10px;
        color: @zesty-grey;
      }
    }
  }
}
