@import "~@zesty-io/core/colors.less";

.DifferActions {
  align-items: center;
  display: flex;
  padding: 8px 0 8px 30px;

  @media only screen and (min-width: 1920px) {
    padding-left: 0;
  }

  // @media only screen and (min-width: 2000px) {
  // }

  .Divider {
    font-size: 18px;
    margin: 0 12px;
  }

  .VersionSelector {
    width: 200px;

    ul {
      min-width: 350px;
      strong {
        font-weight: 900;
      }
      small {
        font-size: 10px;
        color: @zesty-grey;
      }
    }
  }
  .BtnSpace {
    margin-left: 8px;
  }
}
