@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.HeadlessOptionsWrapper {
  overflow-y: auto;
  height: calc(100vh - 120px);
  overflow: scroll;
  .HeadlessOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .useTags {
    background: lighten(@zesty-light-blue, 15%);
    padding: 8px 16px 8px 16px;
    .smallTags {
      background: @zesty-gray;
      color: white;
      padding: 3px 8px;
      margin-right: 4px;
      border-radius: 4px;
      display: inline-block;
      font-size: 0.8em;
      font-family: @font-family-secondary;
    }
  }

  h5 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  a {
    font-size: 11px;
    font-family: @font-family-secondary;
    margin-left: auto;
  }
  p {
    line-height: 130%;
    font-size: 0.9em;
    font-family: @font-family-secondary;
    a {
      font-size: inherit;
    }
  }
}
