// @import "~@zesty-io/core/typography.less";

.SchemaBuilder {
  display: flex;

  height: calc(100vh - 61px);
  overflow: hidden;

  .SchemaMain {
    flex: 3;
    height: calc(100vh - 61px);
    overflow-y: scroll;
  }
}
