@import "~@zesty-io/core/colors.less";

.SchemaBuilder {
  display: grid;
  grid-template-columns: 15fr 85fr;
  height: calc(100vh - 54px);
  overflow: hidden;

  .SchemaMain {
    box-shadow: 0 0 15px fade(@zesty-dark-blue, 50%);
    height: calc(100vh - 54px);
    overflow-y: scroll;
    z-index: 1;
  }
}
