// @import "~@zesty-io/core/typography.less";

.SchemaBuilder {
  display: flex;
  flex-direction: row;

  height: calc(100vh - 64px - 10px);
  overflow: hidden;

  .SchemaMain {
    flex: 3;
    height: calc(100vh - 64px - 9px);
    overflow-y: scroll;
  }
}
