@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.RedirectsTable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .TableBody {
    display: flex;
    flex-direction: column;
    border: 1px solid @zesty-light-blue;
    border-radius: 4px;
    .noResults {
      margin: 16px;
    }
  }
}
