@import "~@zesty-io/core/colors.less";

.RedirectsTable {
  width: 100%;
  .TableBody {
    display: flex;
    flex-direction: column;
    border: 1px solid @zesty-light-blue;
    border-radius: 4px;
    .noResults {
      margin: 16px;
      font-size: 2rem;
      font-weight: 900;
    }
  }
}
