@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Release {
  // min-height: 118px;
  .Row {
    display: flex;
  }
  .Row > button {
    margin-right: 8px;
  }
  .Row > div {
    flex: 1;
  }
}
