@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Release {
  // min-height: 118px;

  .SelectRelease ul {
    padding: 0;
  }

  .Row {
    display: flex;
  }
  .Row > button {
    margin-left: 8px;
  }
  .Row > div {
    flex: 1;
  }
}
