@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Release {
  .CardContent {
    display: flex;
    flex-direction: column;
    .ReleaseWrap {
      flex-wrap: wrap;
      display: flex;
      & > div {
        flex: 1;
        margin-right: 8px;
      }
    }
  }
  .SelectRelease ul {
    padding: 0;
  }
  .Add {
    align-self: end;
    margin-top: 8px;
  }
  .VersionRelease {
    margin-top: 8px;
  }
}
