.FieldAdd {
  .Type {
    max-width: 300px;
    margin-bottom: 16px;
    ul li svg {
      display: inline-block;
      text-align: center;
      width: 25px;
    }
  }
  .AlignHeader {
    display: flex;
    align-items: baseline;
    svg {
      font-size: 32px;
    }
  }
}
