@import "shell/components/legacy/colors.less";
@import "shell/components/legacy/typography.less";

.LockedView {
  width: 600px;

  .ModalContent {
    margin: 28px 0;
  }
  .ModalFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
