@import "~@zesty-io/core/colors.less";

.HeadTag {
  &:hover,
  &:focus {
    .CardHeader {
      button {
        display: flex;
      }
    }
  }

  .CardHeader {
    align-items: flex-end;
    display: flex;
    gap: 8px;

    // & > * {
    //   margin-right: 8px;
    // }
    svg {
      margin-right: 0;
    }

    .DropDown {
      width: 210px;
    }
    .Delete {
      display: none;
      margin-left: auto;
    }
  }

  .Pair {
    align-items: flex-end;
    display: flex;
    margin: 8px 0;
    gap: 8px;

    &:hover,
    &:focus {
      button {
        visibility: visible;
      }
    }

    .Value {
      width: 100%;
    }

    button {
      visibility: hidden;
      height: 40px;
    }
  }
  .CardFooter {
    display: flex;
    flex-direction: row-reverse;
  }
}
.Global {
  background-color: lighten(@zesty-gray, 15%);
}
