@import "~@zesty-io/core/typography.less";

@nav-width: 20vw;
.MediaApp {
  overflow: hidden;
  display: grid;
  grid-template-columns: @nav-width 1fr;
  font-family: @font-family-default;

  & > section[class*="Loading"] {
    position: absolute;
  }
  @media (min-width: 2000px) {
    grid-template-columns: @nav-width 1fr;
  }

  .WorkspaceContainer {
    //Full container 100vw -  minus 20vw = MediaApp nav and 60px = globalSidebar
    width: calc(100vw - @nav-width - 60px);

    @media (min-width: 2000px) {
      width: calc(100vw - @nav-width - 170px);
    }
    &.WkspSidebarActive {
      width: initial;
    }
  }
}
