@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.MediaApp {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 54px);
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(200px, 20vw) 1fr;
  font-family: @font-family-default;

  @media (min-width: 2000px) {
    grid-template-columns: minmax(15vw, 20vw) 1fr;
  }

  .Nav {
    background-color: #404759;
    word-break: break-word;

    .TopNav {
      display: flex;
      padding: 8px;
    }

    .NavTitle {
      color: #c3cddf;
      font-size: 24px;
      text-align: center;
    }
    ul {
      line-height: 1.33;
      letter-spacing: 1px;
      list-style: none;
      margin-left: 8px;
    }
    .item {
      padding-left: 8px;
      &:hover {
        background-color: #485471;

        .hide {
          visibility: visible;
        }
      }
      a {
        text-decoration: none;
        color: #c3cddf;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        padding: 8px 16px;
        align-items: center;
        font-weight: 500;
        border: 1px solid #1b202c;
        margin-right: 8px;
        svg {
          margin-right: 8px;
        }
      }
    }
    // Pulled from NODE design-systems
    .depth1 {
      background-color: #1a202c;
      border-left: 2px solid #1a202c;

      //Is active
      border-left: 2px solid orange;
    }
    .depth2 {
      background-color: lighten(#1a202c, 5%);
      border-left: 2px solid lighten(#1a202c, 5%);
    }
    .depth3 {
      background-color: lighten(#1a202c, 10%);
      border-left: 2px solid lighten(#1a202c, 10%);
    }
    .depth4 {
      background-color: lighten(#1a202c, 15%);
      border-left: 2px solid lighten(#1a202c, 15%);
    }
  }

  .Workspace {
    height: calc(100vh - 54px);
    overflow: hidden;
    overflow-y: auto;

    box-shadow: 0 0 15px #0b0d13;
    z-index: 1;

    .WorkspaceHeader {
      display: flex;
      padding: 8px;
      background-color: #404759;
      justify-content: space-between;

      .WorkspaceLeft,
      .WorkspaceRight {
        display: flex;
        button {
          margin: 0 8px;
        }
      }
    }
    .WorkspaceGrid {
      //Legacy Layout Flex
      // display: flex;
      // flex-wrap: wrap;

      //Dynamic
      // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      display: grid;
      //STATIC
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 16px;
      padding: 16px;
      justify-items: center;

      .Card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
          width: 100%;
          height: 167px;
          object-fit: contain;
        }

        .CardContent {
          position: relative;

          .Check {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            opacity: 0;
            cursor: pointer;
            background: #5b667d;
            color: #efefef;
            width: 24px;
            height: 24px;
            margin: 4px;
          }

          // Checkbox Selected
          &.Selected {
            background: #74be24;
          }
          // Checkbox Show
          &:hover {
            .Check {
              opacity: 1;
            }
          }
        }
        .CardFooter {
          padding: 0;
        }
        .FooterButton {
          cursor: pointer;
          border: none;
          letter-spacing: 1px;
          transition: all 0.3s;
          font-family: inherit;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .Cog {
            background-color: #79879a;
            font-size: 16px;
            margin-right: 8px;
            padding: 8px;
            flex: 1;
          }
          .Preview {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }

  // Modal WIP
  .Modal {
    .CardContent {
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 100%;
      }
      .Clippy {
        width: 16px;
        height: 16px;
      }
    }
    .CardFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
