@import "~@zesty-io/core/typography.less";
.WrapperActivity {
  dt {
    padding-bottom: 8px;
  }
  dl {
    text-align: center;
    column-count: 2;
  }
  dd {
    border: 2px solid black;
    display: inline-block;
    padding: 8px 24px;
  }
}
