@import "~@zesty-io/core/colors.less";

.Breadcrumbs {
  display: flex;

  .Home {
    padding: 0 4px 0 0;
  }

  .Crumbs {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      display: flex;
      align-items: center;

      a {
        word-break: keep-all;
        padding: 0 4px;
      }
    }
  }

  svg {
    padding: 0px 4px;
  }
  svg:first-child {
    padding: 0;
  }
}
