@import "~@zesty-io/core/colors.less";

.Breadcrumbs {
  margin: 4px 0;

  svg {
    padding: 0px 4px;
  }
  .crumb {
    a {
      color: @zesty-light-gray;
      text-shadow: none;
      &:hover {
        color: white;
      }
    }
  }
}
