@import "~@zesty-io/core/typography.less";

.GlobalTopbar {
  height: 54px;
  display: grid;
  grid-template-columns: 20vw auto;

  @media only screen and (min-width: 2000px) {
    grid-template-columns: 15vw auto;
  }

  .InstanceSearch {
    display: flex;
    align-items: center;
    padding: 0 8px;
  }

  .InstanceTabs {
    display: grid;
    grid-template-columns: 1fr fit-content(350px) 43px 43px;
  }
}
