@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.IsSuccess {
  color: @zesty-green;
}
.IsDanger {
  color: @zesty-red;
}
.IsWarning {
  color: #ffdd57;
}
.IsInfo {
  color: @zesty-blue;
}
.IsOrange {
  color: @zesty-orange;
}

.BtnGroup {
  padding: 0 16px;
  button:not(:last-child) {
    margin-right: 8px;
  }
}

.CardContentHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.CardContentGraphs {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 16px;
}

.CardContentBandwidth {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

.CardContentRequest {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 16px;
}

.GraphTitles {
  align-self: center;
}

.MetricsTableRow {
  background-color: @white;
  align-items: center;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
  }

  &:hover,
  &:focus,
  &:active,
  &:nth-of-type(odd):hover,
  &:nth-of-type(odd):focus,
  &:nth-of-type(odd):active {
    background-color: lighten(@zesty-field-blue, 10%);
  }

  .MetricsTableRowCell {
    padding: 16px;

    svg {
      margin-right: 8px;
    }

    .internalLink {
      font-size: 1em;
      color: @zesty-blue;
    }
    .removeBtn {
      margin-left: auto;
      align-items: center;
    }
  }
}

.MetricsTable {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  .TableBody {
    display: flex;
    flex-direction: column;
    border: 1px solid @zesty-light-blue;
    border-radius: 4px;
    .noResults {
      margin: 16px;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .TableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
