.Editor {
  width: 85vw;
  height: calc(100vh - 54px);
  .LinkEdit {
    width: 800px;

    .CardContent {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      ul {
        padding-left: 0;
      }
    }
  }
}

.LinkEditActions {
  display: flex;
  justify-content: space-between;
}
