.Editor {
  width: 85vw;
  height: calc(100vh - 54px);
  .LinkEdit {
    width: 800px;
    .Row {
      margin: 16px 0 0 0;
    }

    .CardContent {
      ul {
        padding-left: 0;
      }
    }
    .Checkboxes {
      cursor: pointer;
      display: flex;
      margin: 16px 0;
      align-items: center;
      input[type="checkbox"] {
        margin-right: 8px;
      }
    }
  }
}

.LinkEditActions {
  display: flex;
  justify-content: space-between;
}
