@import "~@zesty-io/core/colors.less";

.Actions {
  & > * {
    margin: 0 0 0 8px !important;
  }
}

.HeadWrap {
  .Head {
    clear: both;

    .Tags {
      float: left;
      width: 40vw;
      height: calc(100vh - 54px - 50px);
      overflow-y: scroll;

      article:first-child {
        margin-top: 0;
      }

      .EditTags {
        margin: 0;
      }
    }
    .NoTags {
      text-align: center;
      font-size: 2rem;
      padding: 16px;
    }
  }
}

.Warn {
  display: flex;
  align-items: center;
  margin: 16px;
  button {
    margin-right: 8px;
  }
}
