@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.RedirectsTableHeader {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto auto minmax(200px, 1fr) 200px 200px;
  z-index: 1;
  align-items: baseline;
  padding: 0 16px 16px 16px;
  background-color: @appBkgColor;

  .InfoTip {
    &:hover {
      small {
        bottom: -30px;
        left: 19px;
      }
    }
  }

  .RedirectsTableHeaderCell {
    cursor: pointer;
    font-weight: 900;
    padding: 0 8px;

    .column {
      border-bottom: 3px solid @zesty-field-blue;
      padding-bottom: 0.1rem;
      svg {
        padding-left: 8px;
      }
    }
    &:hover,
    &:active,
    &:focus {
      .column {
        border-bottom: 3px solid @zesty-teal;
      }
    }
  }
}
