.variableContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.variable {
  width: 70%;
  max-width: 800px;
}

.reference {
  border: 1px solid #757c8c;
  border-radius: 5px;
  padding: 10px;
  height: 38px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 20px;
}

.Preview {
  padding-top: 8px;
}
