@import "~@zesty-io/core/colors.less";
.GlobalAccount {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 3rem;
  border-bottom: 1px solid darken(@globalMenuBkgColor, 5%);
  border-right: 1px solid darken(@globalMenuBkgColor, 5%);
  padding: 16px 0;
  width: 99%;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 2000px) {
  .GlobalAccount {
    font-size: 28px;
  }
}
