@import "~@zesty-io/core/colors.less";
.GlobalAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 2.8rem;
  border-bottom: 1px solid darken(@globalMenuBkgColor, 5%);
  border-right: 1px solid darken(@globalMenuBkgColor, 5%);
  width: 99%;
  height: 60px;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 2000px) {
  .GlobalAccount {
    font-size: 28px;
  }
}
