@import "~@zesty-io/core/colors.less";

.PublishAllModal {
  top: 0;
  left: 0;
  box-shadow: 2px 2px 4px #333;
  min-width: 420px;

  .ModalFooter {
    display: flex;
    justify-content: space-between;
  }
}
