@import "~@zesty-io/core/colors.less";

.Unpublished {
  color: @zesty-light-grey;
  cursor: unset;
  &:hover {
    color: @zesty-light-grey;
  }
}
.Published {
  display: flex;
  align-items: center;
}
