@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ContentHead {
  height: calc(100vh - 54px);
  overflow: scroll;

  .Head {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 2000px) {
      flex-direction: row;
    }

    .Tags {
      min-width: 800px;

      h3 {
        margin: 38px;
        text-align: center;
      }
    }
    .Preview {
    }
  }
}

.Warn {
  display: flex;
  align-items: center;
  margin: 16px;

  button {
    margin-right: 8px;
    min-width: 160px;
  }
}
