@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.helpModules {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

.helpMenu {
  position: fixed;
  width: 52rem;
  bottom: 126px;
  left: 50px;
  padding: 24px;
  z-index: 100;
  background-color: @appBkgColor;
  box-shadow: 1px 1px 19px #171b26;
  border-radius: 4px 4px 4px 0;
  color: @zesty-grey;

  //triangle pointing to question icon
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid @appBkgColor;
    left: -10px;
    bottom: 0;
  }

  .Button {
    margin-right: 8px;
  }

  header {
    display: flex;
    gap: 8px;
  }
}

.helpModule {
  flex: 1;
  box-shadow: 0 1px 2px #171b26;

  &.primary {
    flex: 2;
    margin-left: 0;
  }

  .helpBox {
    text-align: left;
    margin-left: 8px;
  }
}
