@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Login {
  width: 600px;

  form {
    .message {
      margin: 0 0 16px;
    }
  }
  .error {
    margin-top: 16px;
  }
}
