.TagPreviewWrap {
  background: #333;
  height: calc(100vh - 61px - 45px);
  overflow: scroll;
  // margin-right: 24px;
  // width: calc(33% - 24px);
  // z-index: 20;
  // position: fixed;
  // right: 0;

  .TagPreview {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    padding: 16px;
    color: lightgray;

    .Tag {
      color: lightseagreen;
    }
    .localTag {
      color: gold;
    }
  }
}
