.TagPreviewWrap {
  background: #333;
  overflow: scroll;

  .TagPreview {
    font-family: "Courier New", Courier, monospace;
    padding: 16px;
    color: lightgray;

    .Tag {
      color: lightseagreen;
    }
    .localTag {
      color: gold;
    }
  }
}
