@import "~@zesty-io/core/colors.less";

@keyframes openNav {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
// .closeNav {
//   from {
//     opacity: 1;
//     transform: translateX(0);
//   }
//   to {
//     opacity: 0;
//     transform: translateX(-100%);
//   }
// }

.NavContainer {
  overflow: hidden;
  box-shadow: none;
  height: calc(100vh - 54px);

  //Hide Scrollbar
  scrollbar-width: none; /*  FireFox */
  -ms-overflow-style: none; /*  Edge */
  ::-webkit-scrollbar {
    /*  Chrome / Safari */
    display: none;
  }

  &.ContentNavHover,
  &.ContentNavOpen {
    background-color: @appBkgColor;

    animation: openNav 0.3s ease-out forwards;
    position: relative;
    z-index: 100;

    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 54px);
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &.ContentNavHover {
    box-shadow: -1px 1px 10px 2px fade(@zesty-dark-blue, 50%);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 20vw;

    @media screen and (max-width: 1680px) {
      width: 25vw;
    }
  }
  &.ContentNavOpen {
    width: 20vw;
    @media only screen and (min-width: 2000px) {
      width: 15vw;
    }
  }
}

.SearchModels {
  margin: 8px 8px 0;
  input {
    flex: 1;
  }
}

.Actions {
  display: flex;
  background-color: transparent; // @zesty-tab-blue;// #5b667d;
  padding: 8px;
  padding-bottom: 0px;

  .Select {
    margin-right: 4px;
  }
  .CreateSelect {
    flex: 1;
  }
}

.NavWrap {
  white-space: normal;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54px);
  white-space: nowrap; // Prevent text growing on transitions;

  .NavTitle {
    padding: 8px 16px;
    color: @zesty-dark-blue;
    background-color: transparent;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.NoResults {
      color: @zesty-yellow;
      word-break: break-word;
    }
  }
  .ButtonClear {
    margin: 8px;
  }

  .HiddenNav {
    opacity: 0.8;
    .NavTitle {
      cursor: pointer;
      color: @zesty-gray;
      &:hover,
      &:active,
      &:focus {
        color: @zesty-dark-blue;
        opacity: 1;
      }
    }
  }
  .HiddenNavClosed,
  .Hide {
    display: none;
  }
}

.Title {
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.HideIcon {
  [data-icon="search"] {
    display: none;
  }
}
