@import "~@zesty-io/core/colors.less";

.SearchModels {
  margin: 8px 8px 0;
  input {
    flex: 1;
  }
}

.Actions {
  display: flex;
  background-color: transparent; // @zesty-tab-blue;// #5b667d;
  padding: 8px;
  padding-bottom: 0px;

  .Select {
    margin-right: 4px;
  }
  .CreateSelect {
    flex: 1;
  }
}

.NavWrap {
  height: calc(
    calc(100vh - 54px - 47px - 90px) ;
  ); // 100 - GlobalTopbar - Collapse Btn - (Action + Search)
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
  padding: 0;
  width: 20rem;

  .NavTitle {
    padding: 8px 16px;
    color: @zesty-dark-blue;
    background-color: transparent;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.NoResults {
      color: @zesty-yellow;
      word-break: break-word;
    }
  }
  .ButtonClear {
    margin: 8px;
  }

  .HiddenNav {
    opacity: 0.8;
    .NavTitle {
      cursor: pointer;
      color: @zesty-gray;
      &:hover,
      &:active,
      &:focus {
        color: @zesty-dark-blue;
        opacity: 1;
      }
    }
  }
  .HiddenNavClosed {
    display: none;
  }
}
.Title {
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
