@import "~@zesty-io/core/colors.less";

.FileActions {
  align-items: center;
  box-shadow: 0px 0px 3px #131313;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 42px;
  padding: 8px 0 12px 0px;
  z-index: 1;
  // flex-wrap: wrap;

  .FileMeta {
    display: flex;
    align-items: center;
    .FileLink {
      width: 3px;
      margin: 0;
      padding: 0 32px;
      text-shadow: none;
    }

    .FileName {
      color: @zesty-white;
      padding: 0 16px 0 0;

      display: flex;
      align-items: center;

      .ZUID {
        background: #333;
        border-radius: 2px;
        font-style: italic;
        margin: 0 8px;
        padding: 2px 8px;
      }
    }

    .QuickLinks {
      display: flex;
      .Link {
        margin: 0;
        padding: 0;
        text-shadow: none;
        margin-right: 8px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
