@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Leads {
  height: calc(100vh - 61px - 10px);
  overflow: hidden;

  header {
    display: flex;
    align-items: end;

    // .LeadExporter {
    //   min-width: 300px;
    //   margin-right: 16px;
    // }

    // .LeadFilter {
    //   flex: 1;
    //   padding-right: 32px;

    //   input {
    //     width: 100%;
    //   }
    // }
  }

  main {
    padding: 32px;
  }
}
