@import "~@zesty-io/core/colors.less";
.Settings {
  .saveButton {
    max-width: 160px;
    align-self: flex-end;
    color: #fff;
  }
  .selectProtocol {
    max-width: 200px;
  }

  .titleIcon {
    font-size: 130%;
    padding-right: 8px;
    margin-bottom: -3px;
  }
  .ButtonSave {
    margin-top: 8px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      min-width: 45%;
      margin: 16px 2.5%;
      label {
        font-size: 16px;
        span {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
      label + div p {
        font-size: 0.75rem;
      }
    }
  }
  .labelRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;

    a {
      display: flex;
      align-self: center;
    }

    p,
    aside {
      flex: 1;
      margin: 0px 8px;
      line-height: 14.4px;
      font-size: 0.8em;
    }
    aside {
      border-radius: 5px;
      font-size: 0.8em;
      line-height: 14.4px;
      svg {
        color: @zesty-orange;
      }
    }
  }

  .flexCol {
    width: 40%;
  }
}
