@import "~@zesty-io/core/colors.less";

.notices {
  background-color: @zesty-field-blue;
  position: fixed;
  z-index: 100;
  bottom: 110px;
  left: 85px;
  color: @zesty-dark-blue;

  ul {
    list-style-type: none;
    border-radius: 3px;
    width: max-content;
    padding: 24px;

    box-shadow: 2px 2px 2px #33394a;

    li {
      margin: 8px 0;
      font-weight: 500;
    }
    li.save {
      color: @zesty-green;
    }
    li.warn {
      color: @zesty-red;
    }
  }

  .caret {
    color: @zesty-field-blue;
    position: absolute;
    bottom: -15px;
    left: 5px;
    width: 24px;
    height: 24px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 2000px) {
  .notices {
    left: 53px;
    bottom: 108px;

    .caret {
      left: -11px;
      bottom: 11px;
      transform: rotate(90deg);
    }
  }
}
