@import "~@zesty-io/core/colors.less";

.notices {
  background-color: @zesty-field-blue;
  position: fixed;
  z-index: 100;

  color: @zesty-dark-blue;
  border-radius: 4px;
  left: 62px;
  bottom: 130px;

  ul {
    list-style-type: none;
    width: max-content;
    padding: 24px;
    box-shadow: 1px 1px 19px @globalMenuBkgColor;
    text-align: left;

    li {
      margin: 8px 0;
      font-weight: 500;
    }
    li.save,
    li.success {
      color: @zesty-green;
    }
    li.warn,
    li.error {
      color: @zesty-red;
    }
  }

  .caret {
    color: @zesty-field-blue;
    position: absolute;

    left: -11px;
    bottom: 11px;
    transform: rotate(90deg);
  }
}

.hidden {
  display: none;
}

@media (min-width: 2000px) {
  .notices {
    bottom: 135px;

    .caret {
      bottom: -11px;
      left: 13px;
      transform: rotate(0deg);
    }
  }
}
