@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.JSONPreview {
  background-color: @white;
  height: 100%;
  overflow: auto;
}

.iframeContainer {
  &.portrait {
    transform: rotate(0deg);
    height: 100%;
    width: 100%;
  }

  &.landscape {
    transform: rotate(90deg);

    &.iphone14 {
      width: 842px;
      height: 389px;
      margin-left: -227px;
      margin-top: 226px;
    }

    &.iphone14pro {
      width: 845px;
      height: 390px;
      margin-left: -227px;
      margin-top: 227px;
    }

    &.ipad {
      width: 1367px;
      height: 1027px;
      margin-left: -170px;
      margin-top: 170px;
    }

    &.pixel7 {
      width: 1322px;
      height: 617px;
      margin-left: -353px;
      margin-top: 353px;
    }
  }
}

.screen {
  width: 100%;
  height: 100%;
  position: relative;

  .camera {
    position: absolute;
    z-index: 1;
  }

  .webContent {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.Frame {
  position: relative;
  height: 100%;
  width: 100%;

  &.Blur {
    filter: blur(3px);
  }

  &.FrameLoading {
    background-image: url("https://storage.googleapis.com/assets-zesty/loading.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  // iframe when displayed inside device css
  &.Device {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-size: 50%;

    // had browser scroll bar to mimic mobile device
    width: calc(100% + 15px);
  }
}
