@import "~@zesty-io/core/colors.less";

.ContentNavToggle {
  font-size: 16px;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  box-shadow: 2px 2px 5px fade(@zesty-dark-blue, 50%);

  position: absolute;
  bottom: 0;
  right: -44px;
  z-index: 100;

  &:hover {
    color: @zesty-orange;
  }
}
