@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ContentNavToggle {
  font-size: @svg-icon;
  justify-content: center;
  border-radius: 0;
  padding: 13px 6px;
  box-shadow: 2px 2px 5px fade(@zesty-dark-blue, 50%);
  position: absolute;
  bottom: 0;
  width: 60px;

  &.ContentNavHover {
    width: 20vw;
    z-index: 100;
    @media screen and (max-width: 1680px) {
      width: 25vw;
    }
  }

  &.ContentNavToggleOpen {
    width: 20vw;
    @media only screen and (min-width: 2000px) {
      width: 15vw;
    }
  }

  &:hover {
    color: @zesty-orange;
  }
}
