@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.DMContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .Notice {
    height: 33px;
  }

  iframe {
    margin-top: 8px;
    border: 1px solid @zesty-light-blue;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    border-radius: 3px;
  }
}
