@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

@height: calc(100vh - 200px);

.DMContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  height: @height;

  @media only screen and (min-width: 2000px) {
    padding: 48px;
  }

  .Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    border-radius: 8px;

    p {
      color: @white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px 60px;
      border-radius: 5px;
      background: @zesty-tab-color;
      font-weight: 800;
      text-align: center;
      box-shadow: 0 0 8px @zesty-dark-blue;
    }
  }

  iframe {
    border: 3px solid @bright-gray;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    border-radius: 8px;
    width: 100%;
    height: @height;

    &.Blur {
      filter: blur(3px);
    }
  }
}
