@import "~@zesty-io/core/colors.less";
.ItemList {
  background-color: #fff;

  .TableWrap {
    // Parents height minus total height of actions container
    height: calc(100vh - 54px - 52px);
  }
  .Display {
    font-size: 32px;
    text-align: center;
    margin: auto 0;
    line-height: 42px;
    font-weight: 300;
    height: 80vh;
    letter-spacing: 0.32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .FiltersDisplay {
    h1 {
      font-size: 24px;
      line-height: 42px;
      margin-bottom: 16px;
    }

    text-align: center;
    margin: auto 0;
    font-weight: 300;
    height: 80vh;
    letter-spacing: 0.32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
