@import "~@zesty-io/core/colors.less";

.ShareLinks {
  display: flex;
  span {
    color: #026aa2;
    cursor: pointer;
    background: none;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    font-weight: 600;
    line-height: 1.6em;
    margin: 0 0.5rem;
    padding: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 @white;
    transition-duration: 0.3s;
    transition-property: color, background-color;

    &:hover,
    &:focus,
    &:active {
      color: #026aa2;
    }

    i {
      width: 15px;
    }
  }
  a {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    p {
      display: inline;
      margin: 0 0 0 5px;
    }
  }
}
