@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemCreate {
  //100 - Globaltopbar - (Header + Globaltopbar) && Prevents header from being hidden after create item error
  height: calc(100vh - 54px - 130px);
  padding: 32px;
  //Hide Scrollbar
  overflow-y: scroll;
  overflow: auto;
  scrollbar-width: none; /*  FireFox */
  -ms-overflow-style: none; /*  Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  .Editor {
    /*  Hiding and removing styles for Duo Mode item create view */
    [data-cy="DuoModeContainer"] {
      display: none;
    }
    div {
      div {
        padding: 0;
        height: initial;
        grid-column: 1 / -1;
      }
    }
  }
}

.Meta {
  .Divider {
    border-bottom-color: @zesty-field-blue;
    margin: 32px 0 16px;
  }
}
