@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemCreate {
  height: calc(100vh - 54px - 90px);
  padding: 32px;
  overflow-y: auto;
}

.Meta {
  .Divider {
    border-bottom-color: @zesty-field-blue;
    margin: 32px 0 16px;
  }
}
