@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemCreate {
  height: calc(100vh - 64px - 9px - 98px);
  padding: 0;
  overflow-y: scroll;
}

.Meta {
  .Divider {
    border-bottom-color: @zesty-field-blue;
    margin: 32px 32px 16px;
  }
  .Title {
    font-size: 24px;
    margin: 16px 32px 0;
  }
}
