@import "~@zesty-io/core/colors.less";

.auditApp {
  background-color: @zesty-tab-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;

  .logList {
    flex: 1;
    margin: 0;
    padding: 0 2rem 5rem;
    overflow: auto;
    background-color: #f2f7fc;
  }

  .noLogs {
    color: @zesty-tab-blue;
    letter-spacing: 1px;
    margin: 2rem 0 0 0;
  }

  .paginationWrap {
    position: absolute;
    bottom: 0;
    right: 1rem;
  }
}
