@import "../../../shell/styles/colors.less";
.ContentEditor {
  background-color: @mainViewBkgColor;
  display: flex;
  // max-width: 90rem;
  // min-width: 5rem;
  // flex: 6;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 8;

  display: grid;
  grid-template-columns: 350px 3fr 1fr;
}
