@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.Header {
  display: grid;
  grid-template-columns: auto max-content 225px 1fr max-content;
  column-gap: 16px;
  align-items: center;

  .BackBtn {
    display: inline-block;
  }
}
