@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.Header {
  display: grid;
  grid-template-columns: 16px max-content 225px 1fr max-content;
  column-gap: 16px;
  align-items: center;
}
