@import "shell/legacy-styles/colors.less";
@import "shell/legacy-styles/typography.less";
.Header {
  display: grid;
  grid-template-columns: auto max-content 225px 1fr max-content;
  column-gap: 16px;
  align-items: center;
}
