.CanonicalTag {
  label {
    display: flex;
    font-size: 16px;
    padding-bottom: 8px;
  }
  .settings {
    & > * {
      padding-bottom: 8px;
    }
    .Input {
      width: 90%;
      margin-top: 8px;
    }
  }
}
