@import "~@zesty-io/core/typography.less";

.AuditTrail {
  background-color: #292828 !important;
  color: #b1b1b3 !important;

  header {
    border-bottom: 1px solid #38383d;
    h1 {
      font-weight: 500;
    }
  }
  footer {
    border-top: 1px solid #38383d;
  }

  .NoLogs {
    color: #38383d;
  }

  ul {
    li {
      line-height: 18px;
      list-style: circle;
      list-style-position: inside;
      margin: 0 4px 12px 0;
    }
  }

  .MoreLogs {
    text-shadow: none;
    i {
      padding: 0 8px 0 0;
    }
  }
}
