@import "~@zesty-io/core/typography.less";

.AuditTrail {
  .NoLogs {
    color: #38383d;
  }

  ul {
    li {
      line-height: 18px;
      list-style: circle;
      list-style-position: inside;
      margin: 0 4px 12px 0;
    }
  }

  .MoreLogs {
    text-shadow: none;
    i {
      padding: 0 8px 0 0;
    }
  }
}
