@import "~@zesty-io/core/colors.less";

.CodeEditor {
  height: calc(100vh - 54px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 20vw auto;

  @media only screen and (min-width: 2000px) {
    grid-template-columns: 15vw auto;
  }

  .Nav {
    background-color: @nav-background-color;
    word-break: break-word;
  }
  .FileEditor {
    background: #1e1e1e;
    height: calc(100vh - 54px);
    overflow: hidden;

    box-shadow: 0 0 15px #0b0d13;
    z-index: 1;
  }
}
