@import "~@zesty-io/core/colors.less";

.CodeEditor {
  display: grid;
  grid-template-columns: minmax(200px, 350px) 1fr;
  height: calc(100vh - 54px);
  overflow: hidden;

  .Nav {
    background-color: @nav-background-color;
    word-break: break-word;
  }
  .FileEditor {
    background: #1e1e1e;
    height: calc(100vh - 54px);
    overflow: hidden;

    box-shadow: 0 0 15px #0b0d13;
    z-index: 1;
  }
}
