@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.GlobalSubMenu {
  background-color: @globalMenuBkgColor;
  margin: 0;
  padding: 8px 0;
  width: 100%;
  border-top: 1px solid lighten(@globalMenuBkgColor, 5%);

  .GlobalActions {
    display: grid;
    grid-gap: 12px;
    padding: 8px 0;
  }

  .AppVersion {
    margin: 4px 0px 0px 8px;
    .VersionNumber {
      word-break: break-all;
      font-family: monospace;
      font-size: 12px;
      line-height: 10px;
      display: inline-block;
    }

    a {
      color: inherit;
      text-shadow: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    a:hover {
      color: @zesty-orange;
    }
    svg {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .GlobalAction {
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    text-shadow: none;
    padding: 4px 0px 0px 8px;
    color: @zesty-grey;
    line-height: 10px;

    span {
      font-weight: 400;
      &:hover {
        color: @zesty-orange;
      }
    }
    img {
      vertical-align: middle;
      margin-right: 4px;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle;
    }

    .GlobalActionIcon:hover,
    .GlobalActionIcon:focus,
    .GlobalActionIcon:active {
      color: @zesty-orange;
    }
  }
}
