@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.GlobalSubMenu {
  background-color: @globalMenuBkgColor;
  margin: 0;
  padding: 16px 0;
  width: 100%;
  border-top: 1px solid lighten(@globalMenuBkgColor, 5%);

  align-items: center;
  display: flex;
  flex-direction: column;

  .GlobalActions {
    display: grid;
    grid-gap: 12px;
    padding: 8px 0;
  }

  .AppVersion {
    margin: 6px;
    .VersionNumber {
      word-break: break-all;
      font-family: monospace;

      font-size: 10px;
      line-height: 10px;
      display: inline-block;
    }

    a {
      color: inherit;
      text-shadow: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a:hover {
      color: @zesty-white;
    }
    img {
      margin-bottom: 4px;
      margin-right: 8px;
    }
  }

  .GlobalAction {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    color: @zesty-field-blue;
    position: relative;
    text-shadow: none;

    a {
      margin: 0;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
    &:hover,
    .GlobalActionIcon:hover,
    .GlobalActionIcon:focus,
    .GlobalActionIcon:active {
      color: @zesty-orange;
    }
  }
}
