@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.GlobalSubMenu {
  background-color: @globalMenuBkgColor;
  margin: 0;
  padding: 8px 0;
  width: 100%;
  border-top: 1px solid lighten(@globalMenuBkgColor, 5%);
  align-items: center;
  display: flex;
  flex-direction: column;

  .GlobalActions {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }

  .GlobalAction {
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
    text-shadow: none;
    padding: 8px;
    color: @zesty-grey;
    &:hover {
      color: @zesty-orange;
    }

    span {
      font-weight: 400;
    }
    img {
      vertical-align: bottom;
    }

    svg {
      width: 16px;
      height: 16px;
      vertical-align: bottom;
    }
  }
  .AppVersion {
    padding: 8px;
    .VersionNumber {
      word-break: break-all;
      font-family: monospace;
      font-size: 12px;
      line-height: 10px;
      display: inline-block;
      width: 30px;
      margin: 0 auto;
    }

    a {
      color: inherit;
      text-shadow: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    a:hover {
      color: @zesty-orange;
    }
    svg {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
  &.NavOpen {
    .GlobalAction {
      text-align: left;
      svg {
        margin-right: 8px;
      }
    }
    .AppVersion {
      .VersionNumber {
        width: auto;
        margin: initial;
      }
    }
  }
}
