@import "~@zesty-io/core/colors.less";
.CodeEditor {
  display: flex;
  width: 100%;
  .CodeEditorView {
    flex: 2;
    padding: 1rem;

    align-items: center;
    justify-content: center;
    display: flex;
    text-shadow: 1px 1px 1px darken(@zesty-white, 5%);
  }
}
