@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

* {
  margin: 0;
  padding: 0;
}

.ActivePreview {
  .TopBar {
    display: flex;
    background-color: @bright-gray;
    padding: 16px;
    height: 40px; /* Safari TopBar fix */
    box-shadow: 2px 2px 5px rgb(27 32 44 / 50%);

    .Logo {
      display: flex;
      align-items: center;
      margin-right: 16px;
      // media query on iframe
      @media (max-width: 1280px) {
        display: none;
      }
    }

    .ActionInfo {
      flex: 2;
      display: grid;
      grid-template-columns: 120px 1fr 184px 44px;
      grid-gap: 16px;

      .Links {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 8px;
        align-items: center;
      }

      .Url {
        display: flex;
      }

      .Device {
        display: flex;
        .Select {
          margin-right: 3px;
          width: 140px;
          ul {
            width: 170px;
          }
          li {
            small {
              color: @zesty-gray;
            }
          }
        }
      }

      .Menu {
        display: flex;
      }
    }
  }

  .Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    aside {
      font-size: 18px;
    }
  }

  .Preview {
    //Height - TopBar - iframe(border-top):
    height: calc(100vh - 72px;);
    background-color: #fff; // set to a browsers default background
    position: relative;

    &.Mobile {
      overflow: auto;
    }

    .NoDomain {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
