@import "../../../../styles/colors.less";
.GlobalActions {
  background-color: @globalMenuBkgColor;
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  border-top: 1px solid lighten(@globalMenuBkgColor, 5%);

  .preview {
    text-shadow: 1px 1px 1px #000;
  }
}
