@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemLocked {
  width: 600px;

  .ModalContent {
    margin: 28px 0;
  }
  .ModalFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
