@import "~@zesty-io/core/typography.less";

.DashboardHeader {
  display: flex;
  justify-content: space-between;
  a:not(:last-child) {
    margin-right: 16px;
  }
}

.User {
  text-align: center;
}
