@import "~@zesty-io/core/colors.less";

.MetaDescription {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
  }
  .error {
    background-color: @zesty-highlight;
    padding: 8px;
  }
}
