.FooterSpacing {
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.BtnFont {
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.CardListSpace {
  li {
    margin-bottom: 4px;
  }
}
