.CreateFile {
  top: 0;
  right: 0;
  box-shadow: 2px 2px 4px #333;

  width: 500px;

  .ModalContent {
    .FileType {
      margin-bottom: 12px;
    }
  }

  .ModalActions {
    display: flex;
    justify-content: space-between;
  }
}
