.CreateFile {
  top: 0;
  right: 0;
  box-shadow: 2px 2px 4px #333;

  width: 500px;

  .ModalContent {
    .FileType {
      margin-bottom: 12px;
    }
    .description {
      margin-bottom: 12px;
    }
  }

  .ModalActions {
    display: flex;
    justify-content: space-between;
  }
}

.CreateFileBtn {
  margin: 8px 0 0 0;

  @media (min-width: 2000px) {
    margin: 0 0 0 8px;
  }
}
