@media screen and (max-width: 1700px) {
  .CreateFileBtn {
    i {
      margin: 0;
    }
  }
  .CreateFileBtnTxt {
    display: none;
  }
}

.CreateFile {
  top: 0;
  right: 0;
  box-shadow: 2px 2px 4px #333;

  width: 500px;

  // margin-right: -352px;
  // margin-top: -40px;
  // position: absolute;

  .ModalContent {
    .FileType {
      margin-bottom: 12px;
    }
  }

  .ModalActions {
    display: flex;
    justify-content: space-between;
  }
}
