.Editor {
  width: 85vw;
  .LinkCreate {
    width: 800px;

    .CardContent {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .Icon {
      svg {
        width: 20px;
      }
    }
  }
}
