@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Robots {
  display: flex;
  flex-direction: column;
  width: 60em;
  padding: 32px;
  h1 {
    color: @zesty-dark-blue !important;
  }
  hr {
    border-bottom: 1px lighten(@zesty-light-gray, 20%) solid !important;
    margin: 8px 16px;
  }
  .Row {
    margin: 16px 0;
  }
  .titleIcon {
    font-size: 130%;
    color: @zesty-white;
    padding-right: 8px;
    margin-bottom: -3px;
  }
  .Iframe {
    width: 100%;
    height: 350px;
    background: #eff5ff;
    box-shadow: inset 0px 0px 4px;
  }

  .Notice {
    margin-bottom: 8px;
  }

  // .SaveBtn {
  //   width: 165px;
  // }

  [data-icon="edit"] {
    font-size: 20px;
    margin-right: 8px;
  }
}
