@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.LinkedSchema {
  .ZUID {
    background: #333;
    border-radius: 2px;
    font-style: italic;
    margin: 0 8px;
    padding: 2px 8px;
  }

  .Link {
    text-shadow: none;
    i {
      padding-right: 8px;
    }
  }

  ul {
    margin: 16px 0;
    li {
      .ParsleyRef {
        font-family: "Monaco", "Lucida Console", "Courier New", monospace;

        .Brace {
          color: #95c65c;
        }
        .ModelRef {
          color: #91ace8;
        }
        .FieldRef {
          color: @zesty-white;
        }
      }
    }
  }
}
