@import "~@zesty-io/core/colors.less";

.GlobalSearch {
  position: relative;
  flex: 1;

  .Search {
    margin: 0;
  }

  input {
    width: 100%;
  }
}

.SearchResults {
  position: absolute;
  z-index: 110;
  max-height: 590px;
  min-width: 850px;
  list-style: none;
  overflow: auto;
  box-shadow: 1px 1px 18px #0000007a;
  border-radius: 0 4px 4px 4px;
  left: 0px;
  top: 38px;

  .Start,
  .NoResults {
    font-weight: bold;
  }

  li {
    cursor: pointer;
    color: @zesty-dark-blue;
    background: @zesty-field-blue;
    border-bottom: 1px solid darken(@zesty-field-blue, 8%);
    padding: 16px 12px;

    &.SelectedRow,
    &:hover {
      background-color: @white;
      svg {
        color: @zesty-blue;
      }
      .faChevronRight {
        display: block;
      }
    }
    .ListItem {
      display: flex;
      align-items: baseline;
      svg {
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}
.SearchResultTitle {
  font-size: 20px;
  margin-bottom: 4px;
}
.SearchResultPath {
  color: @zesty-gray;
  font-size: 12px;
}

.faChevronRight {
  margin-left: auto;
  display: none;
}
