.leadsTable {
  width: 100%;

  thead tr th {
    text-align: left;
    padding: 16px 8px 8px;

    &:first-child {
      padding-left: 32px;
    }

    &:last-child {
      padding-right: 32px;
    }
  }

  tbody tr td {
    padding: 8px;
    border: none;

    &:first-child {
      padding-left: 32px;
    }

    &:last-child {
      padding-right: 32px;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
  }

  tbody tr:hover {
    background-color: lighten(#c7d4ea, 5%);
    border-right: 1px solid #f7f7f7;
    cursor: pointer;
  }
  .List {
    margin-bottom: 4px;
  }
}

.LeadModal {
  width: 600px;
  .ModalContent {
    p {
      margin-bottom: 8px;
    }
    .LeadData {
      list-style-type: none;
      li {
        margin-bottom: 4px;
        .Key {
          font-weight: bold;
          margin-right: 8px;
        }
      }
    }
  }
}

.TableInfo {
  text-align: left;

  .TableHead {
    th {
      padding: 8px 0;
    }
  }

  .TableBody {
    tr {
      &:hover {
        background-color: #f7f7f7;
      }
      td {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
        &:nth-child(2) {
          padding-left: 8px;
        }
      }
    }
  }
}
