.leadsTable {
  width: 100%;

  thead tr th {
    text-align: left;
  }

  tbody tr td {
    padding: 8px 0;
    border: none;
  }

  tbody tr:hover {
    background-color: #a0aec0;
    cursor: pointer;
  }
}
