@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ContentLinks {
  .Content {
    ul {
      padding: 0;
      li {
        margin-bottom: 4px;
        list-style-type: none;
        svg {
          width: 16px;
        }
      }
    }
  }
}
