@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.UserLatestEdits {
  .CardContent {
    padding: 0;

    ul {
      padding-left: 0;
    }

    .NoLogs {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 210px;
    }
  }

  li {
    list-style: none;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    &:nth-of-type(even) {
      background: lighten(@zesty-light-blue, 15%);
    }
  }
  .AppLink {
    display: flex;

    svg {
      margin-left: 8px;

      //  center aligns text with svg
      top: 0.125em;
      position: relative;
    }
  }
}
