@import "~@zesty-io/core/colors.less";

// Default App Scrollbar styles
&::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
&::-webkit-scrollbar-track-piece {
  background-color: @zesty-light-grey;
}
&::-webkit-scrollbar-thumb {
  background-color: @zesty-grey;
}

.Shell {
  background-color: @appBkgColor;
  color: @zesty-grey;

  // typography
  font-family: "Montserrat", "Gibson Light", Arial, sans-serif;
  font-size: 12px;

  // Layout
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;

  //CLOSED MENU
  &.NavClosed {
    a[href="/content"],
    a[href="/media"],
    a[href="/schema"],
    a[href="/code"],
    a[href="/leads"],
    a[href="/analytics"],
    a[href="/seo"],
    a[href="/audit-trail"],
    a[href="/settings"],
    [title="Help"],
    [title="Zesty.io"],
    [title="View source code commit"] {
      span {
        display: none;
      }
    }
    [data-icon="eye"] + span {
      display: none;
    }
  }

  scrollbar-color: @zesty-grey @zesty-light-grey;
  scrollbar-width: thin;

  .AppLoader {
    flex: 2;
    background-color: #171b26;

    .SubApp {
      height: calc(100vh - 54px);
      background-color: @appBkgColor;

      // shadow effect
      border-radius: 10px 0 0 0;
      overflow: hidden;
      box-shadow: 0px 0px 25px #0b0d13;
      position: relative;
      z-index: 30;

      /* Safari 10.1+  fix media selected modal
      overlapped by GlobalSidebar & GlobalTopBar */
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
          overflow: initial;
        }
      }
    }
  }
}
