@import "~@zesty-io/core/colors.less";

// Default App Scrollbar styles
&::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
&::-webkit-scrollbar-track-piece {
  background-color: @zesty-light-grey;
}
&::-webkit-scrollbar-thumb {
  background-color: @zesty-grey;
}

.Shell {
  background-color: @mainViewBkgColor;
  color: @zesty-grey;
  display: flex;
  font-family: "Montserrat", "Gibson Light", Arial, sans-serif;
  font-size: 14px;
  height: 100vh;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: 180px 1fr;

  scrollbar-color: @zesty-grey @zesty-light-grey;
  scrollbar-width: thin;

  @media (max-width: 2000px) {
    & {
      grid-template-columns: 60px 1fr;
      font-size: 12px;
    }
  }

  .AppLoader {
    flex: 2;
    z-index: 1;
    overflow: hidden;

    .SubApp {
      height: calc(100vh - 54px);
    }
  }
}
