@import "../../styles/colors.less";

// Default App Scrollbar styles
&::-webkit-scrollbar {
  background-color: @zesty-field-blue;
  width: 4px;
}
&::-webkit-scrollbar-button {
  background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-track {
  background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-track-piece {
  background-color: @zesty-field-blue;
}
&::-webkit-scrollbar-thumb {
  // background-color: @zesty-tab-color;
  background-color: rgb(153, 168, 195);
}
&::-webkit-scrollbar-corner {
  background-color: @zesty-field-blue;
}
&::-webkit-resizer {
  background-color: @zesty-field-blue;
}

.app {
  background-color: @mainViewBkgColor;
  color: @zesty-grey;
  display: flex;
  font-family: "GibsonRegular", Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  overflow: hidden;
  width: 100%;

  display: grid;
  grid-template-columns: 160px 1fr;

  @media (max-width: 1400px) {
    grid-template-columns: 60px 1fr;
  }

  .AppLoader {
    flex: 2;
    z-index: 1;

    .GlobalTopbar {
      // height: 81px;
    }
    .SubApp {
      height: calc(100vh - 81px);
    }
  }
}

.content {
  padding: 2rem;
}
