@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemNav {
  display: flex;
  margin: 0 16px 0 0;

  a {
    padding: 0 4px;
    font-size: 14\6px;

    @media screen and (min-width: 2000px) {
      font-size: 18px;
    }
  }

  .Selected {
    border-bottom: 2px solid @zesty-orange;
  }

  // li {
  //   display: flex;
  //   align-content: center;
  //   // padding: 0 6px;

  //   .Item {
  //     margin: 0;
  //     padding: 2.2px 24px;
  //     font-size: 18px;
  //     font-weight: 400;
  //     text-shadow: none;
  //     letter-spacing: 1px;
  //     color: @zesty-light-gray;
  //     transition: all 0.1s linear;
  //     text-decoration: none;
  //     background-color: #404759;
  //     border: 1px solid @zesty-dark-blue;
  //     border-radius: 4px;

  //     &.Selected {
  //       color: @zesty-white;
  //     }
  //     &:hover {
  //       color: @zesty-white;
  //     }
  //   }
  //   &.Missing {
  //     &::after {
  //       content: " ";
  //       height: 14px;
  //       width: 14px;
  //       border-radius: 14px;
  //       position: relative;
  //       top: 4px;
  //       right: 20px;
  //       background-color: @zesty-orange;
  //     }
  //     &::before {
  //       content: "!";
  //       position: relative;
  //       color: white;
  //       top: 3px;
  //       right: -94.7px;
  //       z-index: 1;
  //       text-rendering: geometricPrecision;
  //     }
  //   }
  // }
}
