@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemNav {
  display: flex;
  gap: 8px;

  a {
    font-size: 14px;

    @media screen and (min-width: 2000px) {
      font-size: 18px;
    }
  }

  .Selected {
    padding-bottom: 8px;
    border-bottom: 1px solid #ff5d0a;

    span {
      padding-bottom: 8px;
      border-bottom: 1px solid #ff5d0a;
    }
    .Hide {
      display: none;
      @media screen and (min-width: 2000px) {
        display: inline-block;
      }
    }
  }

  .AppLink.Selected {
    color: #ff5d0a;
  }

  .AppLink {
    color: #475467;
    margin-right: 8px;
  }
}
