@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ItemNav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (min-width: 2000px) {
    display: flex;
    gap: 8px;
  }

  a {
    font-size: 14px;

    @media screen and (min-width: 2000px) {
      font-size: 18px;
    }
  }

  .Selected {
    text-decoration: 2px underline @zesty-orange;
    text-underline-position: under;
  }
}
