@import "~@zesty-io/core/typography.less";
@import "~@zesty-io/core/colors.less";

.SchemaNav {
  background-color: transparent;

  .NavTitle {
    padding: 8px 16px;
    color: @zesty-dark-blue;
    background-color: transparent;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.NoResults {
      color: @zesty-yellow;
      word-break: break-word;
    }
  }

  .Actions {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 8px;

    @media (min-width: 2000px) {
      flex-direction: row;
    }

    .Search {
      display: flex;
      flex-direction: row;
      margin: 0;
      flex: 1;

      input {
        flex: 1;
      }
    }

    .CreateModel {
      margin: 0 0 8px 0;

      @media (min-width: 2000px) {
        margin: 0 0 0 4px;
      }
    }

    .CreateLink {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  .ModelList {
    height: calc(100vh - 54px - 102px);

    @media only screen and (min-width: 2000px) {
      height: calc(100vh - 54px - 56px);
    }

    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;

    section {
      header {
        display: flex;
        align-items: center;

        padding: 8px 16px;
        color: #c3cddf;
        background-color: #5b667d;
        text-transform: uppercase;

        h1 {
          flex: 1;
        }
        button {
          margin-right: 0;
        }
      }
    }
  }
}
