@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.PlanTable {
  margin-top: 8px;
  width: 100%;
  padding-right: 16px;

  tbody {
    border: 1px solid @zesty-light-blue;
    border-radius: 4px 4px 0 0;

    // Structure
    max-height: calc(100vh - 225px);

    display: block;
  }

  thead {
    tr {
      border-left: 4px solid @appBkgColor;
    }
  }

  thead,
  tbody {
    tr {
      display: grid;
      grid-template-columns: 60px 200px 200px minmax(auto, 400px) 100px 90px;
      column-gap: 16px;
      padding: 12px;

      th {
        text-align: left;
      }
    }
  }
  tfoot {
    position: fixed;
    bottom: 6px;
  }
}
