@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(100px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(50px, 1fr)
    minmax(50px, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}
// tbody {
//   border: 1px solid red;
//   border-radius: 4px 4px 0 0;
//   max-height: calc(100vh - 225px);
// }

tr {
  &:hover {
    background-color: lighten(@zesty-field-blue, 10%);
  }
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  // background: darken(@zesty-light-blue, 1%);
}

th:last-child {
  border: 0;
}

tr:nth-child(odd) td {
  background: lighten(@zesty-light-blue, 15%);
}
