@import "~@zesty-io/core/colors.less";

.OpenFiles {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  background-color: #2d2b2b;
  line-height: 18px;
  // transition: all 0.3s ease;

  &:hover {
    overflow-x: scroll;
    overflow-x: overlay;
  }

  .File {
    border-top: 3px solid #2d2b2b;
    border-right: 1px solid #1d1d1d;
    color: @zesty-grey;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    .Link {
      color: #9a9b9c;
      flex: 1;
      padding: 12px 12px 12px 18px;
      text-shadow: none;

      // .FileName {}
      // .FileType {}

      .Sync {
        cursor: pointer;
        color: @zesty-orange;
      }

      .Close {
        color: #2d2b2b;
        cursor: pointer;
        padding: 0 0 0 8px;
      }

      .Dirty {
        color: @zesty-white;
        display: inline-block;
      }
    }

    &:hover,
    &:active,
    &:focus {
      .Close {
        color: @zesty-white;
      }
    }

    &.Active {
      background-color: #1e1e1e;
      color: @zesty-white;
      border-top: 3px solid @zesty-orange;
      .Link {
        color: @zesty-white;
        .Close {
          color: @zesty-white;
        }
      }
    }
  }
}
