@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Meta {
  background-color: @appBkgColor;
  .ModalHeader {
    margin-bottom: 32px;
    h1 {
      word-break: break-all;
    }
  }
  .Item {
    ul {
      margin: 8px 0 8px 16px;
    }
  }
}
