@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.auditControls {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  margin: 0;

  .SearchLogs {
    margin: 0 8px 0 0;
    input {
      min-width: 400px;
    }
  }

  .btnGroup {
    .child {
      flex: inherit;
      margin-right: 8px;
      &.selected {
        background-color: @zesty-green;
      }
    }
  }
}
