@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.ReorderNav {
  .ModalContent {
    h3 {
      margin-bottom: 16px;
    }
    svg {
      margin-right: 8px;
    }

    ul li:hover,
    ul li:focus {
      cursor: move;
      color: darken(@zesty-grey, 10%);
    }
  }

  .ModalFooter {
    display: flex;
    align-items: center;
    .ButtonGroup {
      width: 100%;
      justify-content: space-between;
    }
  }
}
