.Matte {
  position: fixed;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 50;
  background-color: rgba(1, 1, 1, 0.3);
  .flex {
    display: flex;
  }
  .container {
    border-radius: 4px;
    padding: 2rem;
    background-color: white;
    width: 30vw;
    // display: flex;
    flex-direction: column;
    align-items: center;
    // .sort {
    //   display: flex;
    //   flex-direction: row;
    //   width: 100%;
    //   max-height: 70vh;
    //   overflow-y: scroll;
    //   ul {
    //     display: flex;
    //     flex-direction: column;
    //     li {
    //       justify-content: space-between;
    //       margin: 8px;
    //       i {
    //         padding-left: 8px;
    //       }
    //     }
    //   }
    // }
    .close {
      align-self: flex-start;
      margin: 0;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}
