@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Cards {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  .icon {
    font-size: 60px;
    display: block;
    margin: 2rem auto;
    text-align: center;
  }
}
