@import "~@zesty-io/core/colors.less";
.sort {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  li {
    display: flex;
    align-items: center;
    margin: 8px 0;

    .node {
      display: flex;
      align-items: center;
      color: @zesty-blue;

      svg {
        margin: 0;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.Item {
  width: 100%;
}
