.QuickJumps {
  .Icon {
    display: block;
    font-size: 24px;
    margin: 8px auto;
  }
  .CardContent {
    min-height: 75px;
  }
  .CardFooter {
    //QuickJumps align with AccountInfo
    padding: 8px 17px;
  }
  .Links {
    margin: 8px;
    display: block;
  }
}
