@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.QuickJumps {
  flex: 1;
  display: flex;

  .CardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Icon {
    display: block;
    font-size: 24px;
    margin: 3px auto;
  }
  .Docs {
    color: @zesty-light-grey;

    margin-top: 12px;
  }
}
