@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.Dashboard {
  // width: 100%;
  width: auto;
  height: calc(100vh - 40px);
  overflow: auto;
  padding: 16px 24px 16px 24px;

  .Header {
    padding: 8px 16px;

    .WelcomeBanner {
      margin: 32px 0 0;
    }
  }

  .LatestActivity {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .LinkOuts {
    .Cards {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .Chart,
  .TopPerforming {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 24px;
  }

  .RecentActivities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    ul {
      list-style: circle;
      margin-left: 24px;
      a {
        margin: 0;
      }
    }
  }
}
