@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

@border-color: #dee6ff;

.Dashboard {
  width: 100%;
  height: calc(100vh - 54px);
  overflow: auto;

  .LatestActivity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .LinkOuts {
    margin: 32px 0 0;
    .Cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
    }
    .WelcomeBanner {
      text-align: center;
    }
  }

  .Chart,
  .TopPerforming {
    display: grid;
    grid-template-columns: 1fr;
  }

  .RecentActivities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    svg {
      margin-right: 8px;
    }
    ul {
      list-style: circle;
      margin-left: 24px;
      a {
        margin: 0;
      }
    }
  }
}
