.SchemaEdit {
  .ModelTitle {
    margin: 16px 16px 0;
  }

  .content {
    display: flex;
    .Fields {
      flex: 2;
    }
  }

  .Deactivated {
    opacity: 0.5;
    .Title {
      margin: 0 0 -12px 16px;
    }
  }
}
