@import "~@zesty-io/core/colors.less";

.ContentEditor {
  height: calc(100vh - 54px);
  display: grid;
  grid-template-columns: 60px 1fr;
  position: relative;

  transition: grid-template-columns 350ms ease; /*  FireFox */

  .Content {
    overflow: hidden;
    box-shadow: -1px 1px 10px 2px fade(@zesty-dark-blue, 50%);

    z-index: 2;
    position: relative;
    background-color: @appBkgColor;

    .ContentWrap {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &.ContentGridHover,
  &.ContentGridOpen {
    grid-template-columns: 20vw auto;

    @media only screen and (min-width: 2000px) {
      grid-template-columns: 15vw auto;
    }
  }

  &.ContentGridHover {
    .Content {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;

      &.GlobalOpen {
        // 100vw - GlobalSidebar - contentNavUNCollapsed
        width: calc(100vw - 145px - 60px);
      }

      &.GlobalClosed {
        // 100vw - GlobalSidebar - contentNavCollapsed
        width: calc(100vw - 60px - 60px);
      }
    }
  }
}
