@import "~@zesty-io/core/colors.less";

.ContentEditor {
  height: calc(100vh - 54px);
  display: grid;
  grid-template-columns: 50px 1fr;

  &.OpenEditor {
    grid-template-columns: 20vw 1fr;
  }

  .Nav {
    background: transparent;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-end;

    div {
      display: none;
    }

    &.OpenNav {
      display: initial;
      div {
        display: flex;
      }

      div:last-of-type {
        flex-direction: column;
      }
    }

    .CollapseButton {
      width: 100%;
      justify-content: center;
      border-radius: initial;
      text-transform: capitalize;
      color: @zesty-field-blue;
      &:hover {
        color: @zesty-orange;
      }
      svg {
        margin-right: 8px;
      }
    }
  }

  .Content {
    overflow: hidden;
    box-shadow: 0 0 15px fade(@zesty-dark-blue, 50%);
    z-index: 1;

    .ContentWrap {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
