.ContentEditor {
  display: flex;
  height: calc(100vh - 76px);

  // Typography
  background-color: #f2f7fc;
  // font-family: "Montserrat", "Gibson Light", Arial, sans-serif;
  // font-weight: 400;
  // font-size: 1.2em;
  // color: rgb(26, 32, 44);
  // line-height: 20px;

  .Nav {
    background: #4c5568;
    flex: 0;
  }
  .Content {
    display: flex;
    flex: 1;
    .ContentWrap {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
    }
  }
}
