@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.PlanTable {
  margin-top: 8px;
  width: 100%;

  tbody {
    border: 1px solid @zesty-light-blue;
    border-radius: 4px 4px 0 0;

    // Structure
    height: 100%;

    display: block;
  }

  thead {
    tr {
      border-left: 4px solid @appBkgColor;
    }
  }

  thead,
  tbody {
    tr {
      display: grid;
      grid-template-columns:
        60px minmax(200px, 400px) 75px minmax(200px, 1fr) minmax(auto, 400px)
        90px;
      column-gap: 16px;
      padding: 12px;

      th {
        text-align: left;
      }
    }
  }
  tfoot {
    position: fixed;
    bottom: 6px;
  }
}
