@import "~@zesty-io/core/colors.less";

.Actions {
  .PublishText {
    margin-left: 8px;
  }
  .Hide {
    display: none;

    @media screen and (min-width: 2000px) {
      display: block;
    }
  }
  .SaveVersion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
    @media screen and (min-width: 1440px) {
      width: 120px;
      display: block;
    }
    @media screen and (min-width: 1680px) {
      width: 100%;
    }
  }
}
