@import "~@zesty-io/core/colors.less";

.Actions {
  .Publish {
    .PublishButton {
      border-radius: 3px 0 0 3px;
      border-right: 1px solid #fff;
    }
    .ClockButton {
      padding: 13px 16px;
      border-radius: 0 3px 3px 0;
    }
    .Scheduled {
      background-color: @zesty-orange;
    }
  }
}
