@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.Header {
  margin: 0 32px 0 16px;
  display: grid;
  grid-template-columns: 225px 1fr max-content;
  column-gap: 16px;
  align-items: center;
}
