@import "~@zesty-io/core/colors.less";
@border-color: #dee6ff;

.Dashboard {
  width: 100%;

  h1 {
    font-size: 48px;
  }

  h2 {
    .icon {
      padding-right: 5px;
    }
  }

  .analyticsContainer {
    position: relative;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 1 1 300px;
  }

  .container {
    height: calc(100vh - 54px);
    overflow: auto;

    .Card {
      display: flex;
      flex-direction: column;
      flex: 1 1 300px;

      ul {
        list-style: circle;
        margin-left: 24px;
        a {
          margin: 0;
        }
      }
    }

    .graphs {
      .primary {
        flex: 2;
      }
    }

    .recent {
      flex: 2;
    }
  }
}
