@import "~@zesty-io/core/typography.less";

@nav-width: minmax(200px, 350px);
.MediaApp {
  overflow: hidden;
  display: grid;
  grid-template-columns: @nav-width 1fr;
  font-family: @font-family-default;

  & > section[class*="Loading"] {
    background-color: @appBkgColor;
    position: absolute;
  }
  @media (min-width: 2000px) {
    grid-template-columns: @nav-width 1fr;
  }

  .WorkspaceContainer {
    &.WkspSidebarLockedImage {
      width: calc(100vw - 20vw - 60px);
      @media (min-width: 2000px) {
        width: calc(100vw - 20vw - 170px);
      }
    }
  }
}
