@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.RedirectCreator {
  align-items: center;
  display: flex;
  background: lighten(@zesty-light-blue, 10%);
  border-radius: 4px 4px 0 0;
  margin: 0;

  .RedirectCreatorCell:nth-child("odd") {
    flex: 1;
  }

  .RedirectCreatorCell {
    display: flex;
    padding: 16px;
    align-items: center;

    &.RedirectCreatorCellExpand {
      flex: 1;
    }

    .SearchBar {
      flex: 1;
      input {
        flex: 1;
      }
      &.InputSearch {
        margin: 0;
      }
    }
    .from {
      flex: 1;
    }
    .code {
    }
    .to {
      flex: 1;
    }
  }
}
code {
  font-family: @font-family-default;
}
