@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.RedirectCreator {
  background: lighten(@zesty-light-blue, 10%);
  border-radius: 4px 4px 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto auto minmax(200px, 1fr) auto auto;
  gap: 0 16px;

  .RedirectCreatorCell:nth-child("odd") {
    flex: 1;
  }

  .RedirectCreatorCell {
    display: flex;
    padding: 16px;
    align-items: center;

    .SearchBar {
      flex: 1;
      input {
        flex: 1;
      }
      &.InputSearch {
        margin: 0;
      }
    }
    .to {
      flex: 1;
    }
  }
}
code {
  font-family: @font-family-default;
}
