@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";
.PlanStep {
  align-items: center;
  background-color: @white;
  border-left: 4px solid @white;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
    border-left: 4px solid lighten(@zesty-light-blue, 15%);
  }

  &:hover,
  &:focus,
  &:active,
  &:nth-of-type(odd):hover,
  &:nth-of-type(odd):focus,
  &:nth-of-type(odd):active {
    background-color: lighten(@zesty-field-blue, 10%);
    border-left: 4px solid lighten(@zesty-field-blue, 10%);
  }

  &.error {
    &,
    &:hover,
    &:focus,
    &:active {
      border-left: 4px solid red;
    }
  }

  td {
    text-align: left;
  }
  small {
    font-size: 10px;
    color: @zesty-grey;
  }

  .Remove {
    button {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: space-around;
  }
}
