@import "~@zesty-io/core/typography.less";

.CustomApp {
  height: calc(100vh - 54px);
  width: 100%;
  iframe {
    height: calc(100vh - 54px);
    width: 100%;
  }
}

.InstallApp {
  padding: 16px;
  .Filter {
    display: flex;
    margin: 0 0 32px 0;
  }
}
