@import "~@zesty-io/core/typography.less";

.CustomApp {
  height: calc(100vh - 54px);
  width: 100%;
  overflow: scroll;

  iframe {
    height: calc(100vh - 54px);
    width: 130%;
    overflow: scroll;

    @media screen and (min-width: 1600px) {
      width: 100%;
    }
  }
}

.InstallApp {
  padding: 16px;
  .Filter {
    display: flex;
    margin: 0 0 32px 0;
  }
}
