@import "~@zesty-io/core/colors.less";

.LeadExporter {
  display: flex;
  align-items: flex-end;
  background-color: @zesty-grey;
  width: 100%;
  padding: 16px 32px;

  span,
  label {
    color: @zesty-light-blue;
  }

  .filter {
    margin: 0px 8px 0 0;
    min-width: 300px;

    .Search {
      margin: 0;
    }

    input {
      width: 100%;
    }
  }
}
