@import "~@zesty-io/core/colors.less";

.LeadExporter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: @zesty-tab-blue;
  padding: 16px 32px;

  span,
  label {
    color: @zesty-light-blue;
  }

  .filter {
    margin: 0px 8px 8px 0;
    min-width: 300px;
    &.Date {
      min-width: 150px;
    }

    .Search {
      margin: 0;
    }

    input {
      width: 100%;
    }
  }
}
