.NotFound {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .Display {
    font-size: 32px;
    font-family: "Montserrat", "Gibson Light", Arial, sans-serif;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: 0.32px;
  }
}
