@import "~@zesty-io/core/colors.less";
.ImportTableRowDisabled {
  align-items: center;
  background-color: @zesty-white;
  border-bottom: 1px @zesty-field-blue solid;
  display: flex;
  opacity: 0.5;

  &:nth-of-type(odd) {
    background-color: #dae2f1;
  }

  .RowCell {
    display: flex;
    padding: 1rem;
  }
}
