@import "~@zesty-io/core/colors.less";
.ImportTableRowDisabled {
  align-items: center;
  background-color: @white;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 100px 1fr 370px;
  gap: 0 36px;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
  }

  .RowCell {
    display: flex;
    padding: 1rem;
    &.RowCellEnd {
      justify-self: flex-end;
    }
  }

  .RedirectCreatorCell {
    display: flex;
    padding: 1rem;
    align-items: center;

    .from {
      border: 1px solid darken(@zesty-tab-blue, 5%);
      flex: 1;
    }
    .code {
      border: 1px solid darken(@zesty-tab-blue, 5%);
    }
    .to {
      border: 1px solid darken(@zesty-tab-blue, 5%);
      flex: 1;
    }
  }
}
