@import "~@zesty-io/core/colors.less";
@import "~@zesty-io/core/typography.less";

.NotFound {
  width: calc(100vw - 20vw);
  height: calc(100vh - 64px - 60px);
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: @zesty-white;
  }
}
