@import "~@zesty-io/core/colors.less";

.VersionSelector {
  min-width: 125px !important;
  max-width: 200px;

  &.NotLatest span span {
    background-color: @zesty-highlight !important;
  }

  @media screen and (max-width: 1366px) {
    span {
      display: none;
    }
  }

  small {
    font-size: 10px;
    color: @zesty-grey;
    @media screen and (max-width: 1680px) {
      display: none;
    }
  }

  ul {
    width: 290px;
  }
}
