@import "~@zesty-io/core/colors.less";

.VersionSelector {
  max-width: 125px;

  &.NotLatest span span {
    background-color: @zesty-highlight !important;
  }

  @media screen and (min-width: 2000px) {
    max-width: 200px;
  }

  small {
    font-size: 10px;
    color: @zesty-grey;
  }

  ul {
    width: 290px;
  }
}
