@import "~@zesty-io/core/colors.less";
.RedirectImportTableRow {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto auto minmax(200px, 1fr);
  gap: 0 8px;
  align-items: center;

  &:nth-of-type(odd) {
    background: lighten(@zesty-light-blue, 15%);
  }

  .RowCell {
    display: flex;
    padding: 1rem;
    word-break: break-word;

    &.RedirectButton {
      justify-self: flex-end;
    }
    .selector {
      display: inline-grid;
      margin-right: 1rem;
      width: 100%;
    }
  }
  .RedirectCreatorCell {
    display: flex;
    padding: 1rem;
    align-items: center;

    .from {
      border: 1px solid darken(@zesty-tab-blue, 5%);
      flex: 1;
    }
    .code {
      border: 1px solid darken(@zesty-tab-blue, 5%);
    }
    .to {
      border: 1px solid darken(@zesty-tab-blue, 5%);
      flex: 1;
    }
  }
}
