@import "shell/components/legacy/colors.less";
@import "shell/components/legacy/typography.less";

.ItemHead {
  flex: 1;
  overflow-x: auto;
  background-color: #f9fafb;
  height: 100%;
  padding-left: 32px;

  //   .Head {
  //     display: flex;
  //     flex-direction: column-reverse;

  //     @media screen and (min-width: 2000px) {
  //       flex-direction: row;
  //     }

  //   }
}
